# String Based Assignment Problems

1. Write a program to reverse a string.

In [6]:
# for string take a user input as astring
# code for input string
mystring = input("Enter your string = ")
# Using slicing options to reverse the string
# Reversed string as ouput
print("Reversed String is : ",mystring[::-1])

Enter your string = Vivekanandan
Reversed String is :  nadnanakeviV

2.Check if a string is a palindrome.

In [2]:
# writing a function for checking the string is palindrome.
def is_palindrome(input_string):
# Remove spaces and convert the string to lowercase for case insensitivity
    cleaned_string = input_string.replace(" ", "").lower()
  
# Check if the cleaned string is equal to its reverse
    return cleaned_string == cleaned_string[::-1]
# writing a programme to get the result of palindrome or not
input_string = input()

#Calling the function
result = is_palindrome(input_string)
#if condition to check the plaindrome
if result:
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

chennai is hot city
chennai is hot city is not a palindrome.

3.Convert a string to uppercase.

In [10]:
# Writing the code to get the string from user
Inputstring = input()
#Code for converting uppercase
Upperstring = Inputstring.upper()
print(Upperstring)

sowmiya
SOWMIYA

In [11]:
Upperstring

'SOWMIYA'

4. Convert a string to lowercase.

In [5]:
# Writing the code to get the string from user as  a Upper case
Inputstring = input()
#Code for converting lowercase
Lowerstring = Inputstring.lower()

MUMBAI IS A PORT CITY

In [6]:
# Printing lowercase
Lowerstring

'mumbai is a port city'

5. Count the number of vowels in a string.

In [ ]:
# Code for take a string iinput from the user

In [9]:
# Create the fucntion for finding the vowels in the string
def count_vowels(input_string):
    # Convert the input string to lowercase to make the comparison case-insensitive
    input_string = input_string.lower()
    
    # Define a set of vowels
    vowels = set("aeiou")
    
    # Initialize a count for vowels
    vowel_count = 0
    
    # Iterate through the characters in the input string
    for char in input_string:
        if char in vowels:
            vowel_count += 1
    
    return vowel_count

# Example usage:
# Take a string from the user input
input_string = input("Enter your string : ")
vowels = count_vowels(input_string)
print(f"Number of vowels in '{input_string}': {vowels}")

Enter your string : Hello world!
Number of vowels in 'Hello world!': 3

6. Count the number of consonants in a string.

In [10]:
def count_consonants(input_string):
    # Convert the input string to lowercase to make the comparison case-insensitive
    input_string = input_string.lower()
    
    # Define a set of vowels
    vowels = set("aeiou")
    
    # Initialize a count for consonants
    consonant_count = 0
    
    # Iterate through the characters in the input string
    for char in input_string:
        if char.isalpha() and char not in vowels:
            consonant_count += 1
    
    return consonant_count

# Example usage:
input_string = "Hello, World!"
consonants = count_consonants(input_string)
print(f"Number of consonants in '{input_string}': {consonants}")

Number of consonants in 'Hello, World!': 7

7. Remove all whitespaces from a string

In [3]:
# Using replace method to remove the spce from the input string:
def remove_whitespace_with_replace(yourtextinput):
    return yourtextinput.replace(" ", "")
# Write a code for input variables
yourtextinput = input("Enter your text:")
# Out put string
print(remove_whitespace_with_replace(yourtextinput))

Enter your text:Bangalore is a green city
Bangaloreisagreencity

In [4]:
# Using join methode
# creating the function  for remon=ving the spaces
def remove_whitespace_with_join(my_string):
    return ''.join(my_string.split())

# Write a code for creating input variables
my_string = input("Enter your string : ")

# printing the results
print(remove_whitespace_with_join(my_string))

Enter your string : Chennai is hot city
Chennaiishotcity

8. Find the length of the string with out using the 'len()' function.

In [7]:
# write a function to count the string
def string_length(string):
    count = 0
    #Looping the srting for counting
    for x in string:
        count += 1
    #Return the count values
    return count
# Write a code for user input variables
userinput = input("enter your string: ")
# Calling teh functionms to calculate the length of the string
stringlength = string_length(userinput)
# printing the results
print(stringlength)

enter your string: WelcomeToBangalore
18

9. Check if a string contains a specific word

In [2]:
# Creating Variables
string = "Bangalore is a IT hub city in india"
word = "hub"

In [3]:
# Create a function for checking the word
def check_word(word,string):
    return word in string

In [4]:
# Getting output as True are false
result = check_word(word,string)
print(result)

True

10. Replace a word in a string with another word.

In [8]:
# Creating variables for the replacing the word
string = "This is action scene"
replaces_word = "action"
new_word = "Romance"

In [13]:
# creating function for replace the new word
def replace_word_in_string(string,replaces_word,new_word):
    return string.replace(replaces_word, new_word)

In [14]:
# Getting output as a string
new_string = replace_word_in_string(string, replaces_word, new_word)
print(new_string)

This is Romance scene

11. Count the occurrences of a word in a string.

In [15]:
# finding the no of time present the word in the string

In [16]:
#Creating Variables for string and counting words
string = "Village life is a green area where we can grow our food and it is nature"
count_word = "is"

#Create a fuunction for findout the repeateted word
def getting_repeated_word(string,count_word):
    return string.lower().count(count_word.lower())

# Calling function to get the count
counting = getting_repeated_word(string,count_word)

# Getting output
print(counting)

2

12. Find the first occurrence of a word in a string.

In [7]:
#Example : 02
    
def first_occurrence(string, word):
    # Split the string into words
    words = string.split()
    
    # Iterate through the words
    for i, w in enumerate(words):
        # Check if the word matches
        if w == word:
            # Return the index of the first occurrence
            return i
    
    # If the word is not found, return -1
    return -1

# Example usage
string = "This is a sample string to demonstrate finding the first occurrence."
word_to_find = "sample"
index = first_occurrence(string, word_to_find)
if index != -1:
    print(f"The word '{word_to_find}' first occurs at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' first occurs at index 3.

13. Find the last occurrence of a word in a string.

In [1]:
# writing the code for creating funtions
def last_occurrence(string, word):
# Split the string into words
    words = string.split()

# Initialize a variable to store the index of the last occurrence
    last_index = -1

# Iterate through the words in reverse order
    for i in range(len(words) - 1, -1, -1):
# Check if the word matches
        if words[i] == word:
# Update the last occurrence index
            last_index = i
# Break the loop as we've found the last occurrence
            break
    
# Return the index of the last occurrence
    return last_index

# Example usage
string = "This is a sample string to demonstrate finding the last occurrence of a word in a string."
word_to_find = "string"
index = last_occurrence(string, word_to_find)
if index != -1:
    print(f"The word '{word_to_find}' last occurs at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'string' last occurs at index 4.

14. Split a string into a list of words.

In [2]:
# writing the Sample string
my_string = "Hello, this is a vivek sample string."

# Split the string into a list of words
words_list = my_string.split()

# Print the list of words
print(words_list)

#take away is .split()

['Hello,', 'this', 'is', 'a', 'vivek', 'sample', 'string.']

15. Join a list of words into a string.

In [3]:
# ctreating Sample list of words
words_list = ['apple', 'banana', 'orange']

# Join the list of words into a string with space as separator
my_string = ' '.join(words_list)

# Print the resulting string
print(my_string)

apple banana orange

In [4]:
# Join the list of words into a string with comma as separator
my_string = ','.join(words_list)

# Print the resulting string
print(my_string)

# Take away is .join()

apple,banana,orange

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [5]:
# writing Sample string with words separated by spaces
original_string = "This is a sample string with spaces."

# writing code for replace spaces with underscores
modified_string = original_string.replace(' ', '_')

# Print the modified string
print(modified_string)


# Take away is .replace()

This_is_a_sample_string_with_spaces.

17. Check if a string starts with a specific word or phrase.

In [6]:
# we can use statrtswith() method of strings. True and Fasle method
# Creating variable for sample string
my_string = "Hello, world!"

# Using startswith() and if conditions to check if the string starts with "Hello"
if my_string.startswith("Hello"):
    print("The string starts with 'Hello'.")
else:
    print("The string does not start with 'Hello'.")

# Check if the string starts with "Goodbye"
if my_string.startswith("Goodbye"):
    print("The string starts with 'Goodbye'.")
else:
    print("The string does not start with 'Goodbye'.")

The string starts with 'Hello'.
The string does not start with 'Goodbye'.

In [ ]:
# Take way is startswith() and if, else conditions

18. Check if a string ends with a specific word or phrase.

In [7]:
# We can use endswith() for checking the specific words in end of the pharse.
# Creating variables for a pharse
Vivekanandan = "I am automation Engineer"

# Check if the string ends with "Engineer"
if Vivekanandan.endswith("world!"):
    print("The string ends with 'world!'.")
else:
    print("The string does not end with 'world!'.")

# Check if the string ends with "Goodbye"
if Vivekanandan.endswith("Goodbye"):
    print("The string ends with 'Goodbye'.")
else:
    print("The string does not end with 'Goodbye'.")

The string does not end with 'world!'.
The string does not end with 'Goodbye'.

In [ ]:
# Take away is using .endswith() and if and else concept

19. Convert a string to title case (e.g., "i am an automation engineer" to "I Am An Automation Engineer").

In [10]:
# Converting to title case using .title()
# creating variable for sample string
vivek = "i am an automation engineer"

# Convert the string to title case
title_case_string = vivek.title()

# Print the title case string
print(title_case_string)

I Am An Automation Engineer

In [ ]:
#Take away is .title()

20. Find the longest word in a string.

In [11]:
# Using .split() and len() Length of the word
# Creating variables for sample string
engineer = "How to become a automation engineer."

# Split the string into words
words_list = engineer.split()

# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Using for loop to iterate through each word to find the longest one
for word in words_list:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

# Print the longest word
print("The longest word in the string is:", longest_word)

The longest word in the string is: automation

In [ ]:
# Take away .split() and for loop

21. Find the shortest word in a string.

In [12]:
# Using .split() and len() Length of the word
# Creating variables for sample string
engineer = "How to become a automation engineer."

# Split the string into words
words_list = engineer.split()

# Initialize variables to store the longest word and its length
shortest_word = words_list[0]
min_length = len(shortest_word)

# Using for loop to iterate through each word to find the longest one
for word in words_list:
    if len(word) < min_length:
        max_length = len(word)
        shortest_word = word

# Print the longest word
print("The longest word in the string is:", shortest_word)

The longest word in the string is: a

22. Reverse the order of words in a string.

In [14]:
# Using .split() and .join() word and reversing the order [::-1]
# Creating variables for sample string
my_string = "This is a sample string to reverse the order of words."

# Split the string into words
words_list = my_string.split()

# Reverse the order of words
reversed_words_list = words_list[::-1]

# Join the words back together into a single string
reversed_string = ' '.join(reversed_words_list)

# Print the reversed string
print(reversed_string)

words. of order the reverse to string sample a is This

In [ ]:
# Take away is .split(), .join(), reverse order [::-1]

23. Check if a string is alphanumeric.

In [15]:
#Using isalnum(), and True and False method using if and else method
#Creating Variables
string1 = "abc123"  # Alphanumeric string
string2 = "abc123!"  # Non-alphanumeric string

# Check if string1 is alphanumeric
if string1.isalnum():
    print("string1 is alphanumeric.")
else:
    print("string1 is not alphanumeric.")

# Check if string2 is alphanumeric
if string2.isalnum():
    print("string2 is alphanumeric.")
else:
    print("string2 is not alphanumeric.")

string1 is alphanumeric.
string2 is not alphanumeric.

In [ ]:
#Take away is .isalnum() and if else

24. Extract all digits from a string.

In [17]:
# Using isdigit() method for loop for iterations
# Creating variables for sample string
my_string = "abc123def456ghi789"

# Initialize an empty string to store digits
digits = ""

# Iterate through each character of the string
for char in my_string:
    # Check if the character is a digit
    if char.isdigit():
        # Append the digit to the 'digits' string
        digits += char

# Print the extracted digits
print("Digits extracted from the string:", digits)

Digits extracted from the string: 123456789

25. Extract all alphabets from a string.

In [18]:
# Using isdigit() method for loop for iterations
# Creating variables for sample string
my_string = "abc123def456ghi789"

# Initialize an empty string to store alphabets
alphabets = ""

# Iterate through each character of the string
for char in my_string:
    # Check if the character is an alphabet
    if char.isalpha():
        # Append the alphabet to the 'alphabets' string
        alphabets += char

# Print the extracted alphabets
print("Alphabets extracted from the string:", alphabets)

Alphabets extracted from the string: abcdefghi

In [ ]:
# Take away ius isalpha() and for loop and if conditions

In [ ]:
26. Count the number of uppercase letters in a string.

In [1]:
# Using isupper() method
# Create the function
def count_uppercase_letters(string):
    count = 0
    # Iteration using for loop and if conditions
    for char in string:
        if char.isupper():
            count += 1
    return count

# Example usage:
input_string = "Hello World! This Is An Example."
uppercase_count = count_uppercase_letters(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 6

27. Count the number of lowercase letters in a string.

In [ ]:
# Using islower() method

In [7]:
# Create the fuction
def count_lowercase_letters(string):
    count=0
    for char in string:
        if char.islower():
         count += 1
    return count

# calling the funtions
# creating function varibles to call the function
input_string = "Hello World! This Is An Example."
# Counting lower case
lowercase_count = count_lowercase_letters(input_string)
print("Number of lowercase_letters:", lowercase_count)

Number of lowercase_letters: 19

Takeaway is islower() and for loop for checking the conditions

In [ ]:
28. Swap the case of each character in a string.

In [8]:
# Using swapcase() method

#Create the function
def swap_case(string):
    return string.swapcase()

# Creation of variable for function to call
input_string = "Hello World! This Is An Example."
swapped_string = swap_case(input_string)
print("Swapped string:",swapped_string)

Swapped string: hELLO wORLD! tHIS iS aN eXAMPLE.

In [ ]:
#Takeaway is .swapcase() methode using in string

29. Remove a specific word from a string.

In [9]:
# we can use the replace method to remove the word
#Creating the fuction of the task
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, "")
#Variable creation
input_string = "This is a sample string with a word to remove."
word_to_remove = "sample"
new_string = remove_word(input_string, word_to_remove)
print("New string:", new_string)

New string: This is a  string with a word to remove.

In [ ]:
#Takeaway is .replace() method

30. Check if a string is a valid email address.

In [11]:
# Import necessory packages
import re
# Creating functions
def is_valid_email(email):
    # Regular expression pattern for validating email addresses
    pattern = r'^[\w\.-]+@[a-zA-Z0-9\.-]+\.[a-zA-Z]{2,}$'
    
    # Check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Example usage:
email1 = "vivek@example.com"
email2 = "sowmi_email.com"
email3 = "mapla@domain"
#Out put
print("Is '{}' a valid email address? {}".format(email1, is_valid_email(email1)))
print("Is '{}' a valid email address? {}".format(email2, is_valid_email(email2)))
print("Is '{}' a valid email address? {}".format(email3, is_valid_email(email3)))

Is 'vivek@example.com' a valid email address? True
Is 'sowmi_email.com' a valid email address? False
Is 'mapla@domain' a valid email address? False

In [ ]:
# Pattern condition applied

31. Extract the username from an email address string.

In [ ]:

#You can extract the username from an email address string by splitting the email address at the "@" symbol and taking the part before it.

In [13]:
# Create the fuction 
def extract_username(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')
    
    # The username is the first part before the "@" symbol
    username = parts[0]
    
    return username

# Example usage:
email = "vivek_automation@example.com"
username = extract_username(email)
print("Username:", username)

Username: vivek_automation

In [ ]:
# Spliting and taking index number to get the user name

32. Extract the domain name from an email address string.

In [ ]:

#To extract the domain name from an email address string, you can split the email address at the "@" symbol and take the part after it.

In [14]:
# Write the fuction for this task
def extract_domain(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')
    
    # The domain name is the second part after the "@" symbol
    domain = parts[1]
    
    return domain

# Example usage:
email = "vivek_automation@gmail.com"
domain = extract_domain(email)
print("Domain:", domain)

Domain: gmail.com

33. Replace multiple spaces in a string with a single space.

In [17]:
# import necessory library (re = regular exoression (module))
import re
# creating functions
def replace_multiple_space(string):
    # use regular expression to replace multiple spaces with a single spce
    return re.sub(r'\s+', ' ', string)
# Example usage:
input_string = "This  is  a  string  with  multiple   spaces."
modified_string = replace_multiple_space(input_string)
print("Modified string:", modified_string)

Modified string: This is a string with multiple spaces.

34. Check if a string is a valid URL.

In [18]:
#import necessory library 
from urllib.parse import urlparse

#Create the fuctions
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
# Example urls:
url1 = "https://www.example.com"
url2 = "invalid_url.com"
url3 = "http://missing-domain/"
url4 = "ftp://example.com"
print("Is '{}' a valid URL? {}".format(url1, is_valid_url(url1)))
print("Is '{}' a valid URL? {}".format(url2, is_valid_url(url2)))
print("Is '{}' a valid URL? {}".format(url3, is_valid_url(url3)))
print("Is '{}' a valid URL? {}".format(url4, is_valid_url(url4)))

Is 'https://www.example.com' a valid URL? True
Is 'invalid_url.com' a valid URL? False
Is 'http://missing-domain/' a valid URL? True
Is 'ftp://example.com' a valid URL? True

35. Extract the protocol (http or https) from a URL string.

In [20]:
# import necessory libraries
from urllib.parse import urlparse
# Creating functions
def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme:
        return parsed_url.scheme
    else:
        return None

# Example usage:
url1 = "https://www.example.com"
url2 = "http://example.com/path/to/page"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
# Output
print("Protocol of '{}' is: {}".format(url1, protocol1))
print("Protocol of '{}' is: {}".format(url2, protocol2))
print("Protocol of '{}' is: {}".format(url3, protocol3))

Protocol of 'https://www.example.com' is: https
Protocol of 'http://example.com/path/to/page' is: http
Protocol of 'ftp://ftp.example.com' is: ftp

36. Find the frequency of each character in a string.

In [1]:
# creating the function for the quesdtion
def character_frequency(string):
    frequency = {}
    #count the frequency of each chatracter
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

# Example Usage:
input_string = "hello world"
frequency = character_frequency(input_string)
print("character_frequencies:")
for char, freq in frequency.items():
    print(f"{char}: {freq}")

character_frequencies:
h: 1
e: 1
l: 3
o: 2
 : 1
w: 1
r: 1
d: 1

In [ ]:
#take aways .items and for loops

37. Remove all punctuation from a string.

In [2]:
#for removing puncuation fronm a string use .translate() method

# importing necessories libraries
import string

# creating function for this task
def remove_punctuation(text):
    # Create translation table mapping punctuation to None
    translator = str.maketrans('', '', string.punctuation)
    # Use translate() to remove punctuation
    return text.translate(translator)
# Example usage:
input_string = "Hello world how are you doing? "
result = remove_punctuation(input_string)
# Output
print("String without punctuation:", result)

String without punctuation: Hello world how are you doing

38. Check if a string contains only digits.

In [5]:
# using isdigit method
# write the function to find the digit in the input string for this task
def contains_only_digits(string):
    return string.isdigit()

#Example usage:
input_string = "12345"
# Write the if else conditions for output
if contains_only_digits(input_string):
    print("The String contains only digits.")
else:
    print("The strong contains non digit characters")

The String contains only digits.

39. Check if a string contains only alphabets.

In [7]:
# write the fundtions for check the string contains ionly alphabets

def contains_only_alphabets(string):
    # Iterate through each character in the string
    for char in string:
        # check if the char is an alphabet
        # usinf isalpha() method which returns the true if all characters are alphabets
        if not char.isalpha():
        # If a non - alphabet character is found, return False
            return False
    #If all characters ar alphabets, return True
    return True

#Example usage:
input_string = "HelloWorld"
if contains_only_alphabets(input_string):
    print("The string contains only alphabets.")
else:
    print("The string contains non alphabet characters.")

The string contains only alphabets.

In [6]:
# take away is for loop, if else conditions and isalpha() method

In [ ]:
40. Convert a string to a list of characters.

In [8]:
def string_to_list(string):
    # Initialize an empty list
    char_list=[]
    
    # Iterate through each character in the string
    for char in string:
        # append each character to the string
        char_list.append(char)
    # return the list
    return char_list

# Eaxmple usage
input_string = "Hello"
result_list = string_to_list(input_string)
print("List of characters:", result_list)

List of characters: ['H', 'e', 'l', 'l', 'o']

In [ ]:
#Take away is for loop and .append()method

41. Check if two strings are anagrams.

In [1]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the lengths of the strings are equal
    if len(str1) != len(str2):
        return False

    # Count the frequency of characters in both strings
    char_count = {}

    # Increment count for characters in str1
    for char in str1:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    # Decrement count for characters in str2
    for char in str2:
        if char in char_count:
            char_count[char] -= 1
        else:
            # If a character in str2 is not in str1, they are not anagrams
            return False

    # If all counts are zero, the strings are anagrams
    for count in char_count.values():
        if count != 0:
            return False

    return True

# Test the function
str1 = "listen"
str2 = "silent"
if are_anagrams(str1, str2):
    print(f"{str1} and {str2} are anagrams.")
else:
    print(f"{str1} and {str2} are not anagrams.")

listen and silent are anagrams.

In [ ]:
# take away replace(),lower() if else conditions and for loops

In [ ]:
42. Encode a string using a Caesar cipher.

In [2]:
def caesar_cipher(text, shift):
    # Initialize an empty string to store the encoded text
    encoded_text = ""

    # Iterate through each character in the input text
    for char in text:
        # Check if the character is a letter
        if char.isalpha():
            # Determine the position of the character in the alphabet (0-indexed)
            if char.islower():
                start = ord('a')  # ASCII value of 'a'
            else:
                start = ord('A')  # ASCII value of 'A'

            # Apply the Caesar cipher shift
            shifted_char = chr((ord(char) - start + shift) % 26 + start)

            # Append the shifted character to the encoded text
            encoded_text += shifted_char
        else:
            # If the character is not a letter, append it unchanged
            encoded_text += char

    # Return the encoded text
    return encoded_text

# Test the function
plaintext = "Hello, World!"
shift = 3
print("Original:", plaintext)
encoded_text = caesar_cipher(plaintext, shift)
print("Encoded:", encoded_text)

Original: Hello, World!
Encoded: Khoor, Zruog!

In [ ]:
43. Decode a Caesar cipher encoded string?

In [12]:
# Create decode_caesar_cipher function with comments

def decode_caesar_cipher(encoded_text, shift):
    # Initialize an empty string to hold the decoded text
    decoded_text = ""

    # Loop through each character in the encoded text
    for char in encoded_text:
        # Check if the character is a letter
        if char.isalpha():
            # Shift the character backward by the specified shift value
            shifted = ord(char) - shift

            # Check if the character is uppercase and maintain within 'A' to 'Z'
            if char.isupper():
                # If shifted value is less than 'A', wrap around by adding 26
                if shifted < ord('A'):
                    shifted += 26
            # Check if the character is lowercase and maintain within 'a' to 'z'
            elif char.islower():
                # If shifted value is less than 'a', wrap around by adding 26
                if shifted < ord('a'):
                    shifted += 26

            # Convert the adjusted ASCII value back to a character and add it to decoded text
            decoded_text += chr(shifted)
        else:
            # For non-alphabet characters, add them to decoded text without modification
            decoded_text += char

    return decoded_text

# Example usage
encoded_text = "Khoor Zruog"  # Encoded text with a shift of 3
shift = 3
decoded_message = decode_caesar_cipher(encoded_text, shift)
print("Decoded Message:", decoded_message)

Decoded Message: Hello World

In [ ]:
44. Find the most frequent word in a string?

In [13]:
# Create a function of most_frequent_word
def most_frequent_word(text):
    # Split the text into words
    words = text.split()
    
    # Dictionary to store word frequencies
    word_counts = {}
    
    # Count occurrences of each word
    for word in words:
        word = word.lower()  # Convert to lowercase for case-insensitive counting
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    
    # Find the word with the maximum frequency
    most_frequent = max(word_counts, key=word_counts.get)
    return most_frequent, word_counts[most_frequent]

# Example usage
text = "This is a test. This test is only a test."
word, frequency = most_frequent_word(text)
print(f"The most frequent word is '{word}' with a frequency of {frequency}.")

The most frequent word is 'this' with a frequency of 2.

In [ ]:
45. Find all unique words in a string?

In [14]:
def find_unique_words(text):
    # Convert the text to lowercase to handle case sensitivity
    words = text.lower().split()
    # Use a set to find unique words
    unique_words = set(words)
    return unique_words

# Example usage
text = "This is a sample text with sample words and unique words"
unique_words = find_unique_words(text)
print("Unique words:", unique_words)

Unique words: {'unique', 'with', 'sample', 'this', 'text', 'is', 'and', 'words', 'a'}

In [ ]:
46. Count the number of syllables in a string?

In [15]:
def count_syllables(text):
    vowels = "aeiouyAEIOUY"  # Consider 'y' as a vowel in syllable context
    syllable_count = 0

    # Split text into words
    words = text.split()
    
    for word in words:
        word_syllable_count = 0
        last_char_was_vowel = False

        for char in word:
            if char in vowels:
                # Count a vowel if it doesn't follow another vowel
                if not last_char_was_vowel:
                    word_syllable_count += 1
                    last_char_was_vowel = True
            else:
                last_char_was_vowel = False

        # Adjust for silent 'e' at the end of the word
        if word.endswith("e") and word_syllable_count > 1:
            word_syllable_count -= 1

        syllable_count += word_syllable_count

    return syllable_count

# Example usage
text = "Counting syllables can be tricky"
print("Number of syllables:", count_syllables(text))

Number of syllables: 9

In [ ]:
47. Check if a string contains any special characters?

In [ ]:
#import regular expression library

In [18]:
import re 
def contains_special_characters(input_string):
    # Define a regex pattern that matches anu character that is not a letter, number, or space
    special_character_pattern = re.compile(r'[^a-zA-Z0-9]')
    # search input string for special characters
    if special_character_pattern.search(input_string):
        
        # return True if special character is found
        return true
    else:
        return False
    
    
    #Example usage:
    
input_string1 = "Hello, World!" # Contains Special Characters: "," and "!"
print ("Contains sdpecial characters?, contains_special_characters(input_string1)) 

           
input_string2 = "Hello World 123" # No special characters
print("Contains special characters?", contains_special_characters(input_string2))

SyntaxError: EOL while scanning string literal (758210524.py, line 17)

Answer:
True
False

In [ ]:
48. Remove the nth word from a string?

In [19]:
# Create remove nth word functions

def remove_nth_word(input_string,n):
    # split the input string into a list of words
    words = input_string.split()
    
    # check if the index is with in the bounds of the list 
    
    if 0 <= n < len(words):
        # remove the nth word from the list
        
        words.pop(n)
    else:
        print("Error: Index out of range.")
        
# join the list back into a single string with spaces

modified_string = ' '.join(words)
return modified_string

# Example usage

input string = "This is a sample sentence for testing."

n = 2 # Index of the word to remove (0 - based index)
print("Original String:", input_string)
print("Modified String:", remove_nth_word(input_string,n))

SyntaxError: invalid syntax (386795033.py, line 23)

Original String: "This is a sample sentence for testing."
Modified String: "This is sample sentence for testing."

In [ ]:
49. Insert a word at the nth position in a string?

In [20]:
def insert_word_at_position(original_string, word, position):
    # Split the original string into a list of words
    words = original_string.split()

    # Insert the new word at the specified position
    # Use min() to ensure the position is within the range of the list
    words.insert(min(position, len(words)), word)

    # Join the list back into a single string with spaces
    updated_string = " ".join(words)

    return updated_string

# Example usage
original_string = "The quick brown fox jumps over the lazy dog"
word = "smart"
position = 3  # Insert at the 3rd position (0-based indexing)

# Call the function and print the result
result = insert_word_at_position(original_string, word, position)
print("Updated String:", result)

Updated String: The quick brown smart fox jumps over the lazy dog

In [ ]:
50. Convert a CSV string to a list of lists?|

In [21]:
import csv  # Import the CSV library for handling CSV formatted data

def csv_to_list(csv_string):
    # Initialize an empty list to hold our rows
    rows = []

    # Use the csv.reader to parse the string as if it were a CSV file
    # 'csv_string.splitlines()' turns the multi-line string into a list of lines
    csv_reader = csv.reader(csv_string.splitlines())

    # Loop over each row in the reader object
    for row in csv_reader:
        # Append each row (as a list) to the 'rows' list
        rows.append(row)
    
    return rows  # Return the final list of lists

# Example CSV string input
csv_string = """Name, Age, City
John, 25, New York
Alice, 30, Los Angeles
Bob, 22, Chicago"""

# Convert CSV string to list of lists
result = csv_to_list(csv_string)

# Print the result
print(result)  # Expected Output: [['Name', 'Age', 'City'], ['John', '25', 'New York'], ['Alice', '30', 'Los Angeles'], ['Bob', '22', 'Chicago']]

[['Name', ' Age', ' City'], ['John', ' 25', ' New York'], ['Alice', ' 30', ' Los Angeles'], ['Bob', ' 22', ' Chicago']]

# List Based Practice Problem :

In [ ]:
1. Create a list with integers from 1 to 10?

In [22]:

# Use the `list` function to convert the range object into a list
integer_list = list(range(1, 11))  # Creates a list containing numbers from 1 to 10

#Print the list to verify the result
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the `len()` function?

In [23]:
def find_length(my_list):
    # Initialize a counter to keep track of the length
    length = 0

    # Iterate over each element in the list
    for _ in my_list:  # The underscore `_` is used as we don't need the actual element
        length += 1  # Increment the counter for each element

    return length  # Return the final count

# Example usage
example_list = [10, 20, 30, 40, 50]  # A sample list
result = find_length(example_list)  # Call the function
print("The length of the list is:", result)  # Output the result

The length of the list is: 5

In [ ]:
3. Append an element to the end of a list?

In [24]:
# Define a function to demonstrate appending an element to a list
def append_element_to_list(original_list, element):
    """
    Appends an element to the end of the provided list.

    Parameters:
    original_list (list): The list to which the element will be added.
    element: The element to add to the list.

    Returns:
    list: The updated list with the new element added.
    """
    # Use the append() method to add the element to the list
    original_list.append(element)

    # Return the updated list
    return original_list

# Example usage
# Create an initial list
my_list = [1, 2, 3]  # A list with three elements

# Element to add
new_element = 4  # The number 4 is to be appended

# Call the function to append the element
updated_list = append_element_to_list(my_list, new_element)

# Print the updated list to see the result
print("Updated List:", updated_list)

Updated List: [1, 2, 3, 4]

In [ ]:
4. Insert an element at a specific index in a list?

In [25]:
def insert_element_at_index(my_list, index, element):
    """
    Inserts an element into the list at the specified index.

    Args:
        my_list (list): The original list where the element will be added.
        index (int): The position at which the element should be inserted.
        element: The element to be inserted.

    Returns:
        list: The updated list with the new element inserted.
    """
    # Using the 'insert()' method to add the element at the given index
    my_list.insert(index, element)
    return my_list  # Return the updated list

# Example usage
original_list = [10, 20, 30, 40]  # Initial list
index_to_insert = 2  # Position where the new element will be added
new_element = 25  # Element to be inserted

# Insert the element at the specified index
updated_list = insert_element_at_index(original_list, index_to_insert, new_element)

# Print the original and updated lists
print("Original List:", [10, 20, 30, 40]) 
print("Updated List:", updated_list)

Original List: [10, 20, 30, 40]
Updated List: [10, 20, 25, 30, 40]

In [ ]:
5. Remove an element from a list by its value?

In [26]:
def remove_element_by_value(my_list, value):
    """
    Removes the first occurrence of a specific value from the list.

    Args:
        my_list (list): The list from which the value will be removed.
        value: The value to remove.

    Returns:
        list: The updated list after the value is removed.
    """
    try:
        # Attempt to remove the value from the list
        my_list.remove(value)
    except ValueError:
        # If the value is not found, print a message
        print(f"Value '{value}' not found in the list.")
    return my_list  # Return the updated list

# Example usage
original_list = [10, 20, 30, 40, 20]  # Initial list
value_to_remove = 20  # The value to remove

# Remove the specified value
updated_list = remove_element_by_value(original_list, value_to_remove)

# Print the original and updated lists
print("Original List:", original_list)  # Original list before modification
print("Updated List:", updated_list)

Original List: [10, 30, 40, 20]
Updated List: [10, 30, 40, 20]

In [ ]:
6. Remove an element from a list by its index?

In [27]:
def remove_element_by_index(my_list, index):
    """
    Removes an element from the list at a specific index.

    Args:
        my_list (list): The list from which the element will be removed.
        index (int): The index of the element to remove.

    Returns:
        list: The updated list after the element is removed.
    """
    # Check if the index is within the valid range
    if 0 <= index < len(my_list):
        del my_list[index]  # Remove the element at the given index
    else:
        print(f"Invalid index: {index}. Valid range is 0 to {len(my_list) - 1}")
    return my_list  # Return the updated list

# Example usage
original_list = [10, 20, 30, 40, 50]  # Initial list
index_to_remove = 2  # The index of the element to remove

# Remove the element at the specified index
updated_list = remove_element_by_index(original_list, index_to_remove)

# Print the original and updated lists
print("Original List:", original_list)  # Original list before modification
print("Updated List:", updated_list)

Original List: [10, 20, 40, 50]
Updated List: [10, 20, 40, 50]

In [ ]:
7. Check if an element exists in a list?

In [28]:
def check_element_exists(my_list, element):
    """
    Checks if an element exists in a list.

    Args:
        my_list (list): The list to search.
        element: The element to check for.

    Returns:
        bool: True if the element exists, False otherwise.
    """
    # Use the 'in' keyword to check if the element exists in the list
    return element in my_list

# Example usage
my_list = [10, 20, 30, 40, 50]  # List to check
element_to_check = 30  # Element to search for

# Check if the element exists
result = check_element_exists(my_list, element_to_check)

# Print the result
print(f"Does the element {element_to_check} exist in the list? {result}")

Does the element 30 exist in the list? True

In [ ]:
8. Find the index of the first occurrence of an element in a list?

In [29]:
def find_first_occurrence_index(my_list, value):
    """
    Finds the index of the first occurrence of a value in the list.

    Args:
        my_list (list): The list to search.
        value: The value whose index is to be found.

    Returns:
        int: The index of the first occurrence of the value.
             Returns -1 if the value is not in the list.
    """
    # Check if the value exists in the list
    if value in my_list:
        # Return the index of the first occurrence
        return my_list.index(value)
    else:
        # Return -1 if the value is not in the list
        return -1

# Example usage
my_list = [10, 20, 30, 40, 20]
value_to_find = 20

# Find the index of the first occurrence
index = find_first_occurrence_index(my_list, value_to_find)

# Print the result
print("List:", my_list)  # Original list
print(f"The first occurrence of {value_to_find} is at index:", index)

List: [10, 20, 30, 40, 20]
The first occurrence of 20 is at index: 1

In [ ]:
9. Count the occurrences of an element in a list?

In [30]:
def count_occurrences(my_list, element):
    """
    Counts the number of occurrences of a specific element in the list.

    Args:
        my_list (list): The list in which to count occurrences.
        element: The element whose occurrences are to be counted.

    Returns:
        int: The number of times the element appears in the list.
    """
    # Use the list.count() method to count the occurrences of the element
    count = my_list.count(element)
    return count

# Example usage
example_list = [1, 2, 3, 4, 2, 5, 2, 6]  # Define the list
target_element = 2  # Define the element to count

# Call the function and print the result
occurrences = count_occurrences(example_list, target_element)
print(f"The element '{target_element}' occurs {occurrences} times in the list.")

The element '2' occurs 3 times in the list.

In [ ]:
10. Reverse the order of elements in a list?

In [31]:
def reverse_list(my_list):
    """
    Reverses the order of elements in the given list.

    Args:
        my_list (list): The list to reverse.

    Returns:
        list: A new list with elements in reversed order.
    """
    # Use slicing to reverse the list
    reversed_list = my_list[::-1]
    return reversed_list

# Example usage
original_list = [1, 2, 3, 4, 5]  # Initial list
reversed_result = reverse_list(original_list)  # Reverse the list

# Print the original and reversed lists
print("Original List:", original_list)  
print("Reversed List:", reversed_result)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

In [ ]:
11. Sort a list in ascending order?

In [32]:
def sort_list_ascending(my_list):
    """
    Sorts a given list in ascending order.

    Args:
        my_list (list): The list to sort.

    Returns:
        list: A new list sorted in ascending order.
    """
    # Using the sorted() function to create a new sorted list
    sorted_list = sorted(my_list)
    return sorted_list  # Return the sorted list

# Example usage
original_list = [40, 10, 30, 20, 50]  # List to be sorted

# Sort the list
sorted_list = sort_list_ascending(original_list)

# Print the original and sorted lists
print("Original List:", original_list) 
print("Sorted List:", sorted_list)

Original List: [40, 10, 30, 20, 50]
Sorted List: [10, 20, 30, 40, 50]

In [ ]:
12. Sort a list in descending order?

In [33]:
def sort_list_descending(my_list):
    """
    Sorts a list in descending order.

    Args:
        my_list (list): The list to be sorted.

    Returns:
        list: The list sorted in descending order.
    """
    # Use the sorted function with reverse=True for descending order
    sorted_list = sorted(my_list, reverse=True)
    return sorted_list

# Example usage
original_list = [10, 30, 20, 40, 50]  # Initial list
sorted_list = sort_list_descending(original_list)

# Print the original and sorted lists
print("Original List:", original_list) 
print("Sorted List in Descending Order:", sorted_list)

Original List: [10, 30, 20, 40, 50]
Sorted List in Descending Order: [50, 40, 30, 20, 10]

In [ ]:
13. Create a list of even numbers from 1 to 20?

In [34]:
# Create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

# Print the list of even numbers
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20?

In [35]:
# Create a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]

# Print the resulting list
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list?

In [36]:
def find_sum_of_list_elements(my_list):
    """
    Calculates the sum of all elements in a list.

    Args:
        my_list (list): A list of numeric elements.

    Returns:
        int or float: The sum of all elements in the list.
    """
    # Use Python's built-in sum() function to calculate the sum of the list elements
    total_sum = sum(my_list)

    # Return the calculated sum
    return total_sum


# Example usage
example_list = [10, 20, 30, 40, 50]  # A list of numbers

# Calculate the sum of the list elements
result = find_sum_of_list_elements(example_list)

# Print the list and its sum
print("List:", example_list) 
print("Sum of elements:", result)

List: [10, 20, 30, 40, 50]
Sum of elements: 150

In [ ]:
16. Find the maximum value in a list?

In [37]:
def find_max_value(my_list):
    """
    Finds the maximum value in a list.

    Args:
        my_list (list): The list of numbers.

    Returns:
        int/float: The maximum value in the list.
    """
    # Initialize the maximum value to the first element
    max_value = my_list[0]

    # Iterate through the list to compare each value
    for value in my_list:
        if value > max_value:
            max_value = value  # Update max_value if a larger value is found

    return max_value

# Example usage
numbers = [3, 5, 7, 2, 8, 1]  # List of numbers
max_value = find_max_value(numbers)  # Find the maximum value
print("Maximum Value:", max_value)  # Expected Output: 8

Maximum Value: 8

In [ ]:
17. Find the minimum value in a list?

In [38]:
def find_minimum_value(numbers):
    """
    Finds the minimum value in a list.

    Args:
        numbers (list): A list of numerical values.

    Returns:
        int/float: The smallest value in the list.
    """
    # Initialize the minimum value with the first element of the list
    min_value = numbers[0]
    
    # Iterate through the list to find the smallest value
    for num in numbers:
        if num < min_value:
            min_value = num  # Update min_value if a smaller number is found
    
    return min_value  # Return the smallest value

# Example usage
number_list = [42, 23, 4, 16, 8, 15]
minimum_value = find_minimum_value(number_list)
print("The minimum value in the list is:", minimum_value)

The minimum value in the list is: 4

In [ ]:
18. Create a list of squares of numbers from 1 to 10?

In [39]:
# Create a list of squares of numbers from 1 to 10
def generate_squares():
    """
    Generates a list of squares of numbers from 1 to 10.

    Returns:
        list: A list containing squares of numbers from 1 to 10.
    """
    # Initialize an empty list to store the squares
    squares = []

    # Loop through numbers from 1 to 10
    for num in range(1, 11):
        # Calculate the square of the current number
        square = num ** 2

        # Append the square to the list
        squares.append(square)

    # Return the list of squares
    return squares

# Example usage
squares_list = generate_squares()

# Print the resulting list
print("List of Squares from 1 to 10:", squares_list)

List of Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers?

In [40]:
import random

# Function to generate a list of random numbers
def generate_random_numbers(count, start, end):
    """
    Generates a list of random integers.

    Args:
        count (int): Number of random numbers to generate.
        start (int): The lower bound of the random number range (inclusive).
        end (int): The upper bound of the random number range (inclusive).

    Returns:
        list: List of random integers.
    """
    random_numbers = [random.randint(start, end) for _ in range(count)]
    return random_numbers

# Example usage
random_numbers = generate_random_numbers(10, 1, 100)
print("List of random numbers:", random_numbers)

List of random numbers: [62, 44, 47, 26, 16, 64, 46, 29, 93, 37]

In [ ]:
20. Remove duplicates from a list?

In [41]:
def remove_duplicates(my_list):
    """
    Removes duplicate values from a list by converting it to a set, then back to a list.
    
    Args:
        my_list (list): The list from which duplicates will be removed.
    
    Returns:
        list: The list without duplicates.
    """
    # Convert the list to a set to remove duplicates, then back to a list
    unique_list = list(set(my_list))
    
    return unique_list

# Example usage
original_list = [1, 2, 3, 2, 4, 3, 5, 6, 4]
result = remove_duplicates(original_list)

# Print the original and result lists
print("Original List:", original_list)  
print("List without duplicates:", result)

Original List: [1, 2, 3, 2, 4, 3, 5, 6, 4]
List without duplicates: [1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists?

In [42]:
def find_common_elements(list1, list2):
    """
    Finds and returns the common elements between two lists.

    Args:
        list1 (list): The first list.
        list2 (list): The second list.

    Returns:
        list: A list containing the common elements between the two input lists.
    """
    # Use set intersection to find common elements
    common_elements = list(set(list1) & set(list2))

    return common_elements

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Call the function and store the result
common = find_common_elements(list1, list2)

# Print the result
print("Common elements:", common)

Common elements: [3, 4, 5]

In [ ]:
22. Find the difference between two lists?

In [43]:
def list_difference(list1, list2):
    """
    Finds the difference between two lists.
    
    Args:
        list1 (list): The first list.
        list2 (list): The second list.

    Returns:
        list: Elements present in list1 but not in list2.
    """
    # Use list comprehension to filter out elements in list2 from list1
    difference = [item for item in list1 if item not in list2]
    return difference

# Example usage
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 6]

# Find the difference
result = list_difference(list_a, list_b)

# Print the result
print("List A:", list_a) 
print("List B:", list_b)
print("Difference (A - B):", result)

List A: [1, 2, 3, 4, 5]
List B: [3, 4, 6]
Difference (A - B): [1, 2, 5]

In [ ]:
23. Merge two lists?

In [44]:
def merge_lists(list1, list2):
    """
    Merges two lists into a single list.

    Args:
        list1 (list): The first list.
        list2 (list): The second list.

    Returns:
        list: A new list containing all elements from both lists.
    """
    # Use the '+' operator to combine the two lists
    merged_list = list1 + list2

    # Return the merged list
    return merged_list

# Example usage
list_a = [1, 2, 3]  # First list
list_b = [4, 5, 6]  # Second list

# Merge the lists
result = merge_lists(list_a, list_b)

# Print the original and merged lists
print("List A:", list_a)  
print("List B:", list_b)  
print("Merged List:", result)

List A: [1, 2, 3]
List B: [4, 5, 6]
Merged List: [1, 2, 3, 4, 5, 6]

In [ ]:
24. Multiply all elements in a list by 2?

In [45]:
def multiply_elements_by_two(my_list):
    """
    Multiplies each element in a list by 2.

    Args:
        my_list (list): The input list of numbers.

    Returns:
        list: A new list where each element is multiplied by 2.
    """
    # Use a list comprehension to multiply each element in the list by 2
    multiplied_list = [element * 2 for element in my_list]

    return multiplied_list  # Return the new list

# Example usage
original_list = [1, 2, 3, 4, 5]  # Initial list
# Call the function to multiply each element by 2
result_list = multiply_elements_by_two(original_list)

# Print the original and resulting lists
print("Original List:", original_list)  
print("Result List:", result_list)

Original List: [1, 2, 3, 4, 5]
Result List: [2, 4, 6, 8, 10]

In [ ]:
25. Filter out all even numbers from a list?

In [46]:
def filter_odd_numbers(numbers):
    """
    Filters out all even numbers from a given list, leaving only odd numbers.

    Args:
        numbers (list): The list of integers to filter.

    Returns:
        list: A new list containing only odd numbers.
    """
    # Use list comprehension to include only odd numbers
    odd_numbers = [num for num in numbers if num % 2 != 0]
    return odd_numbers

# Example usage
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  # Initial list
filtered_list = filter_odd_numbers(original_list)  # Filter out even numbers

# Print the results
print("Original List:", original_list)  
print("Filtered List (Odds Only):", filtered_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered List (Odds Only): [1, 3, 5, 7, 9]

In [ ]:
26. Convert a list of strings to a list of integers?

In [47]:
def convert_strings_to_integers(string_list):
    """
    Converts a list of strings to a list of integers.

    Args:
        string_list (list): A list containing string representations of integers.

    Returns:
        list: A list containing integers.
    """
    # Use list comprehension to convert each string to an integer
    integer_list = [int(item) for item in string_list]
    return integer_list

# Example usage
string_list = ["10", "20", "30", "40", "50"]
integer_list = convert_strings_to_integers(string_list)

# Output the result
print("Original List (Strings):", string_list) 
print("Converted List (Integers):", integer_list)

Original List (Strings): ['10', '20', '30', '40', '50']
Converted List (Integers): [10, 20, 30, 40, 50]

In [ ]:
27. Convert a list of integers to a list of strings?

In [48]:
def convert_int_to_str_list(numbers):
    """
    Converts a list of integers to a list of strings.

    Args:
        numbers (list): A list of integers.

    Returns:
        list: A list of strings where each string represents an integer.
    """
    # Use list comprehension to convert each integer to a string
    string_list = [str(num) for num in numbers]
    return string_list

# Example usage
integer_list = [1, 2, 3, 4, 5, 6]
string_list = convert_int_to_str_list(integer_list)

# Output results
print("Original Integer List:", integer_list)  
print("Converted String List:", string_list)

Original Integer List: [1, 2, 3, 4, 5, 6]
Converted String List: ['1', '2', '3', '4', '5', '6']

In [ ]:
28. Flatten a nested list?

In [1]:
def flatten_nested_list(nested_list):
    """
    Flattens a nested list into a single-level list.

    Args:
        nested_list (list): A list containing sublists.

    Returns:
        list: A flattened single-level list.
    """
    # Initialize an empty list to store the flattened elements
    flat_list = []

    # Iterate through each element in the nested list
    for element in nested_list:
        # If the element is a list, extend the flat list with its elements
        if isinstance(element, list):
            flat_list.extend(element)
        else:
            # If the element is not a list, directly append it to the flat list
            flat_list.append(element)
    
    return flat_list

# Example usage
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = flatten_nested_list(nested_list)

# Output results
print("Original Nested List:", nested_list)
print("Flattened List:", flattened_list)

Original Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
29. Create a list of the first 10 Fibonacci numbers?

In [2]:
def generate_fibonacci(n):
    """
    Generates the first n Fibonacci numbers.

    Args:
        n (int): The number of Fibonacci numbers to generate.

    Returns:
        list: A list of the first n Fibonacci numbers.
    """
    # Initialize the Fibonacci list with the first two numbers
    fibonacci = [0, 1]

    # Generate the rest of the Fibonacci numbers up to n
    for i in range(2, n):
        # Add the sum of the last two numbers in the list
        fibonacci.append(fibonacci[-1] + fibonacci[-2])

    return fibonacci

# Example usage
first_10_fibonacci = generate_fibonacci(10)

# Output the result
print("The first 10 Fibonacci numbers are:", first_10_fibonacci)

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
30. Check if a list is sorted?

In [3]:
def is_sorted(lst):
    """
    Checks if a list is sorted in ascending order.

    Args:
        lst (list): The list to check.

    Returns:
        bool: True if the list is sorted, False otherwise.
    """
    # Compare each element with the next one
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:  # If the current element is greater than the next, the list is not sorted
            return False
    return True  # If no elements are out of order, the list is sorted

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 3, 2, 1]

print("Is list1 sorted?", is_sorted(list1))  # True
print("Is list2 sorted?", is_sorted(list2))  # False

Is list1 sorted? True
Is list2 sorted? False

In [ ]:
31. Extract the username from an email address string?

In [1]:
def extract_username(email):
    """
    Extracts the username from an email address.

    Args:
        email (str): The email address string.

    Returns:
        str: The username part of the email.
    """
    # Split the email address at the '@' symbol
    username = email.split('@')[0]
    return username

# Example usage
email_address = "user@example.com"
username = extract_username(email_address)
print("Username:", username)

Username: user

In [ ]:
32. Extract the domain name from an email address string?

In [2]:
def extract_domain(email):
    """
    Extracts the domain name from an email address.

    Args:
        email (str): The email address string.

    Returns:
        str: The domain part of the email.
    """
    # Split the email address at the '@' symbol
    domain = email.split('@')[1]
    return domain

# Example usage
email_address = "user@example.com"
domain = extract_domain(email_address)
print("Domain:", domain)

Domain: example.com

In [ ]:
33. Replace multiple spaces in a string with a single space?

In [3]:
def replace_multiple_spaces(string):
    """
    Replaces multiple spaces in a string with a single space.

    Args:
        string (str): The input string.

    Returns:
        str: The modified string with single spaces.
    """
    # Split the string into words, automatically removing extra spaces
    words = string.split()
    # Join the words with a single space
    result = ' '.join(words)
    return result

# Example usage
input_string = "This    is  a    string   with   multiple    spaces."
output_string = replace_multiple_spaces(input_string)
print("Original String:", input_string)
print("Modified String:", output_string)

Original String: This    is  a    string   with   multiple    spaces.
Modified String: This is a string with multiple spaces.

In [ ]:
34. Check if a string is a valid URL?

In [4]:
import re

def is_valid_url(url):
    """
    Checks if a string is a valid URL.

    Args:
        url (str): The string to validate.

    Returns:
        bool: True if the string is a valid URL, False otherwise.
    """
    # Regular expression pattern for validating URLs
    url_pattern = re.compile(
        r'^(https?|ftp)://'               # Protocol (http, https, or ftp)
        r'([a-zA-Z0-9.-]+)'               # Domain name or IP
        r'(:[0-9]+)?'                    # Optional port
        r'(/.*)?$',                      # Optional path, query, and fragment
        re.IGNORECASE                    # Case-insensitive
    )
    # Match the pattern with the input URL
    return re.match(url_pattern, url) is not None

# Example usage
test_url_1 = "https://www.example.com"
test_url_2 = "invalid-url"

print(f"Is '{test_url_1}' a valid URL? {is_valid_url(test_url_1)}")
print(f"Is '{test_url_2}' a valid URL? {is_valid_url(test_url_2)}")

Is 'https://www.example.com' a valid URL? True
Is 'invalid-url' a valid URL? False

In [ ]:
35. Extract the protocol (http or https) from a URL string?

In [5]:
from urllib.parse import urlparse

def extract_protocol(url):
    """
    Extracts the protocol (http or https) from a URL.

    Args:
        url (str): The URL string.

    Returns:
        str: The protocol (e.g., 'http' or 'https').
    """
    parsed_url = urlparse(url)  # Parse the URL
    return parsed_url.scheme    # Extract the protocol

# Example usage
url_1 = "https://www.example.com"
url_2 = "http://example.org"

print(f"Protocol of '{url_1}': {extract_protocol(url_1)}")
print(f"Protocol of '{url_2}': {extract_protocol(url_2)}")

Protocol of 'https://www.example.com': https
Protocol of 'http://example.org': http

In [ ]:
36. Replace every element in a list with its square?

In [1]:
def square_elements_loop(lst):
    """
    Squares each element in the list using a for loop.

    Args:
        lst (list): A list of integers or floats.

    Returns:
        list: A new list where each element is squared.
    """
    squared_list = []
    for num in lst:
        squared_list.append(num ** 2)
    return squared_list

# Example usage
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_elements_loop(numbers)
print(f"Original List: {numbers}")
print(f"Squared List: {squared_numbers}")

Original List: [1, 2, 3, 4, 5]
Squared List: [1, 4, 9, 16, 25]

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their
indices become values?

In [2]:
def list_to_dict_loop(lst):
    """
    Converts a list into a dictionary using a for loop.

    Args:
        lst (list): The input list.

    Returns:
        dict: A dictionary with elements as keys and indices as values.
    """
    dictionary = {}
    for index, value in enumerate(lst):
        dictionary[value] = index
    return dictionary

# Example usage
my_list = ['a', 'b', 'c', 'd']
result = list_to_dict_loop(my_list)
print(f"Original List: {my_list}")
print(f"Converted Dictionary: {result}")

Original List: ['a', 'b', 'c', 'd']
Converted Dictionary: {'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [ ]:
38. Shuffle the elements of a list randomly?

In [3]:
import random

def shuffle_list(lst):
    """
    Shuffles the elements of a list randomly.

    Args:
        lst (list): The input list to be shuffled.

    Returns:
        list: The shuffled list.
    """
    # Use random.shuffle to shuffle the list in place
    random.shuffle(lst)
    return lst

# Example usage
original_list = [1, 2, 3, 4, 5, 6]
print(f"Original List: {original_list}")

shuffled_list = original_list[:]  # Create a copy to preserve the original list
shuffle_list(shuffled_list)

print(f"Shuffled List: {shuffled_list}")

Original List: [1, 2, 3, 4, 5, 6]
Shuffled List: [6, 4, 3, 5, 1, 2]

In [ ]:
39. Create a list of the first 10 factorial numbers?

In [4]:
def factorial(n):
    """
    Calculates the factorial of a number n.
    
    Args:
        n (int): The number to calculate the factorial for.
    
    Returns:
        int: The factorial of n.
    """
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

def generate_factorial_list(count):
    """
    Generates a list of the first `count` factorial numbers.
    
    Args:
        count (int): The number of factorials to generate.
    
    Returns:
        list: A list of factorial numbers.
    """
    return [factorial(i) for i in range(1, count + 1)]

# Example usage
factorial_list = generate_factorial_list(10)
print(f"The first 10 factorial numbers are: {factorial_list}")

The first 10 factorial numbers are: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
40. Check if two lists have at least one element in common?

In [6]:
def have_common_elements_loop(list1, list2):
    """
    Checks if two lists have at least one element in common using a loop.

    Args:
        list1 (list): First list of elements.
        list2 (list): Second list of elements.

    Returns:
        bool: True if the lists share at least one element, False otherwise.
    """
    for element in list1:
        if element in list2:
            return True
    return False

# Example usage
list_a = [1, 2, 3, 4]
list_b = [7, 8, 9]
print("Lists have a common elements:", have_common_elements_loop(list_a, list_b))

list_a = [1, 2, 3, 4]
list_b = [2, 7, 8, 9]
print("Lists have a common elements:", have_common_elements_loop(list_a, list_b))

Lists have a common elements: False
Lists have a common elements: True

In [ ]:
41. Remove all elements from a list?

In [8]:
def remove_all_elements(lst):
    """
    Removes all elements from a list using the clear() method.

    Args:
        lst (list): The list to clear.

    Returns:
        None
    """
    lst.clear()

# Example usage
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

remove_all_elements(my_list)
print("List after removing all elements:", my_list)

Original List: [1, 2, 3, 4, 5]
List after removing all elements: []

In [ ]:
42. Replace negative numbers in a list with 0?

In [9]:
def replace_negatives_with_zero(lst):
    """
    Replaces all negative numbers in a list with 0 using list comprehension.

    Args:
        lst (list): A list of integers.

    Returns:
        list: A new list with negative numbers replaced by 0.
    """
    return [0 if num < 0 else num for num in lst]

# Example usage
numbers = [5, -3, 7, -1, 0, 4, -9]
result = replace_negatives_with_zero(numbers)
print("Original List:", numbers)
print("Modified List:", result)

Original List: [5, -3, 7, -1, 0, 4, -9]
Modified List: [5, 0, 7, 0, 0, 4, 0]

In [ ]:
43. Convert a string into a list of words.?

In [1]:
def string_to_list_of_words(input_string):
    """
    Converts a string into a list of words by splitting at spaces.

    Args:
        input_string (str): The input string to be split.

    Returns:
        list: A list of words in the string.
    """
    # Using split() method to divide the string by spaces
    word_list = input_string.split()
    return word_list

# Example usage
input_string = "Python is a powerful programming language"
result = string_to_list_of_words(input_string)
print("Original String:", input_string)
print("List of Words:", result)

Original String: Python is a powerful programming language
List of Words: ['Python', 'is', 'a', 'powerful', 'programming', 'language']

In [ ]:
44. Convert a list of words into a string?

In [2]:
def list_to_string(word_list):
    """
    Converts a list of words into a single string.

    Args:
        word_list (list): A list of words to be joined.

    Returns:
        str: A single string created from the list of words.
    """
    # Use the join method with space as the separator
    result_string = " ".join(word_list)
    return result_string

# Example usage
word_list = ['Python', 'is', 'a', 'powerful', 'language']
result = list_to_string(word_list)
print("Original List:", word_list)
print("Converted String:", result)

Original List: ['Python', 'is', 'a', 'powerful', 'language']
Converted String: Python is a powerful language

In [ ]:
45. Create a list of the first `n` powers of 2?

In [3]:
def generate_powers_of_2(n):
    """
    Generates a list of the first `n` powers of 2.

    Args:
        n (int): The number of powers of 2 to generate.

    Returns:
        list: A list containing the first `n` powers of 2.
    """
    # Generate the list using list comprehension
    powers_of_2 = [2 ** i for i in range(n)]
    return powers_of_2

# Example usage
n = 10
result = generate_powers_of_2(n)
print(f"The first {n} powers of 2:", result)

The first 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
46. Find the longest string in a list of strings?

In [4]:
def find_longest_string(strings):
    """
    Finds the longest string in a list of strings.

    Args:
        strings (list): A list of strings.

    Returns:
        str: The longest string in the list. If there are ties, the first one is returned.
    """
    # Use max() with key=len to find the longest string
    longest = max(strings, key=len)
    return longest

# Example usage
strings = ["cat", "elephant", "giraffe", "hippopotamus"]
longest_string = find_longest_string(strings)
print("The longest string is:", longest_string)

The longest string is: hippopotamus

In [ ]:
47. Find the shortest string in a list of strings?

In [5]:
def find_shortest_string(strings):
    """
    Finds the shortest string in a list of strings.

    Args:
        strings (list): A list of strings.

    Returns:
        str: The shortest string in the list. If there are ties, the first one is returned.
    """
    # Use min() with key=len to find the shortest string
    shortest = min(strings, key=len)
    return shortest

# Example usage
strings = ["apple", "banana", "kiwi", "grape", "pear"]
shortest_string = find_shortest_string(strings)
print("The shortest string is:", shortest_string)

The shortest string is: kiwi

In [ ]:
48. Create a list of the first `n` triangular numbers?

In [6]:
def generate_triangular_numbers(n):
    """
    Generates the first n triangular numbers.

    Args:
        n (int): The number of triangular numbers to generate.

    Returns:
        list: A list of the first n triangular numbers.
    """
    triangular_numbers = []
    
    # Loop through numbers from 1 to n
    for i in range(1, n + 1):
        # Calculate the triangular number using the formula
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)
    
    return triangular_numbers

# Example usage
n = 10
triangular_list = generate_triangular_numbers(n)
print("First", n, "triangular numbers:", triangular_list)

First 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
49. Check if a list contains another list as a subsequence?

In [7]:
def contains_subsequence(main_list, sub_list):
    """
    Checks if main_list contains sub_list as a subsequence.

    Args:
        main_list (list): The list to search within.
        sub_list (list): The list to search for.

    Returns:
        bool: True if sub_list is a subsequence of main_list, otherwise False.
    """
    if not sub_list:  # An empty subsequence is always found
        return True

    # Pointers for main_list and sub_list
    i, j = 0, 0

    # Iterate through main_list
    while i < len(main_list) and j < len(sub_list):
        if main_list[i] == sub_list[j]:
            j += 1  # Move sub_list pointer if there's a match
        i += 1  # Always move main_list pointer

    # If all elements of sub_list were found in order
    return j == len(sub_list)

# Example usage
main_list = [1, 2, 3, 4, 5]
sub_list = [2, 4]

result = contains_subsequence(main_list, sub_list)
print("Is subsequence:", result)

Is subsequence: True

In [ ]:
50. Swap two elements in a list by their indices?

In [8]:
def swap_elements(lst, index1, index2):
    """
    Swaps two elements in a list by their indices.

    Args:
        lst (list): The list containing elements to swap.
        index1 (int): The index of the first element.
        index2 (int): The index of the second element.

    Returns:
        list: The list after swapping the elements.
    """
    # Swap the elements using tuple unpacking
    lst[index1], lst[index2] = lst[index2], lst[index1]
    return lst

# Example usage
my_list = [10, 20, 30, 40, 50]
index1 = 1
index2 = 3

result = swap_elements(my_list, index1, index2)
print("List after swapping:", result)

List after swapping: [10, 40, 30, 20, 50]

# Tuple Based Practice Problem :

In [ ]:
1. Create a tuple with integers from 1 to 5?

In [1]:
# Step 1: Define the tuple
# A tuple is a collection that is ordered and immutable (cannot be changed after creation).
# It is defined using parentheses.
numbers_tuple = (1, 2, 3, 4, 5)

# Step 2: Print the tuple to verify its contents
# The `print` function is used to display the value of the tuple.
print("The tuple with integers from 1 to 5 is:", numbers_tuple)

The tuple with integers from 1 to 5 is: (1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple?

In [2]:
# Define a tuple with multiple elements
my_tuple = (10, 20, 30, 40, 50)

# Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [ ]:
3. Find the length of a tuple without using the `len()` function?

In [3]:
# Initialize the tuple
my_tuple = (10, 20, 30, 40, 50)

# Initialize a counter variable
length = 0

# Iterate through the tuple
for _ in my_tuple:
    # Increment the counter for each element in the tuple
    length += 1

# Display the length of the tuple
print("The length of the tuple is:", length)

The length of the tuple is: 5

In [5]:
4. Count the occurrences of an element in a tuple?

In [6]:


# Define a tuple with some elements
example_tuple = (1, 2, 3, 4, 2, 2, 5, 6, 2)

# Define the element to count
target_element = 2

# Use the count() method to find occurrences of the element in the tuple
occurrences = example_tuple.count(target_element)

# Print the result with an explanation
print(f"The element {target_element} occurs {occurrences} times in the tuple.")

The element 2 occurs 4 times in the tuple.

In [ ]:
5. Find the index of the first occurrence of an element in a tuple?

In [7]:
# Define a tuple with some elements
my_tuple = (10, 20, 30, 20, 40, 50)

# Specify the element to find
element_to_find = 20

# Use the index() method to find the first occurrence of the element
try:
    index = my_tuple.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
except ValueError:
    print(f"The element {element_to_find} is not in the tuple.")

The first occurrence of 20 is at index 1.

In [ ]:
6. Check if an element exists in a tuple?

In [8]:
# Define a tuple with some elements
example_tuple = (10, 20, 30, 40, 50)

# Element to check
element_to_check = 30

# Check if the element exists in the tuple using 'in' keyword
if element_to_check in example_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 30 exists in the tuple.

In [ ]:
7. Convert a tuple to a list?

In [9]:
# Step 1: Define a tuple
my_tuple = (1, 2, 3, 4, 5)  # A tuple is an immutable collection of elements.

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)  # The built-in list() function is used to convert the tuple to a list.

# Step 3: Print the result
print("Original tuple:", my_tuple)  # Displays the original tuple to verify it is unchanged.
print("Converted list:", my_list)  # Displays the converted list.

Original tuple: (1, 2, 3, 4, 5)
Converted list: [1, 2, 3, 4, 5]

In [ ]:
8. Convert a list to a tuple?

In [10]:
# Step 1: Define a list
my_list = [1, 2, 3, 4, 5]  # This is a sample list containing integers.

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)  # The `tuple()` function is used to convert the list to a tuple.

# Step 3: Display the result
print("Original List:", my_list)  # Output the original list
print("Converted Tuple:", my_tuple)  # Output the converted tuple

Original List: [1, 2, 3, 4, 5]
Converted Tuple: (1, 2, 3, 4, 5)

In [ ]:
9. Unpack the elements of a tuple into variables?

In [11]:


# Step 1: Define a tuple
my_tuple = (10, 20, 30)  # A tuple containing three elements

# Step 2: Unpack the tuple into variables
a, b, c = my_tuple  # Each element of the tuple is assigned to a variable

# Step 3: Print the unpacked values
print("Value of a:", a)  # Prints the first element of the tuple
print("Value of b:", b)  # Prints the second element of the tuple
print("Value of c:", c)  # Prints the third element of the tuple

Value of a: 10
Value of b: 20
Value of c: 30

In [ ]:
10. Create a tuple of even numbers from 1 to 10?

In [12]:
# Step 1: Use a range to generate numbers from 1 to 10
# Step 2: Filter only even numbers using a list comprehension
# Step 3: Convert the list of even numbers to a tuple
even_numbers = tuple(number for number in range(1, 11) if number % 2 == 0)

# Print the tuple to verify the result
print(even_numbers)

(2, 4, 6, 8, 10)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10?

In [13]:
# Step 1: Use a range to generate numbers from 1 to 10
# Step 2: Filter only odd numbers using a list comprehension
# Step 3: Convert the list of odd numbers to a tuple
odd_numbers = tuple(number for number in range(1, 11) if number % 2 != 0)

# Print the tuple to verify the result
print(odd_numbers)

(1, 3, 5, 7, 9)

In [ ]:
12. Concatenate two tuples?

In [14]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples using the + operator
result_tuple = tuple1 + tuple2

# Print the concatenated result
print(result_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
13. Repeat a tuple three times?

In [15]:
# Step 1: Define a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Print the repeated tuple to verify the result
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
14. Check if a tuple is empty?

In [16]:
# Define the tuple
my_tuple = ()

# Check if the tuple is empty
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [ ]:
15. Create a nested tuple?

In [17]:
# Creating a nested tuple
nested_tuple = (1, 2, (3, 4, 5), (6, 7))

# Print the nested tuple to verify the result
print(nested_tuple)

(1, 2, (3, 4, 5), (6, 7))

In [ ]:
16. Access the first element of a nested tuple?

In [18]:
# Step 1: Create a nested tuple
nested_tuple = (1, (2, 3, 4), 5)

# Step 2: Access the first element of the outer tuple (which is the first element of the nested tuple)
first_element = nested_tuple[0]

# Print the first element to verify the result
print(first_element)

1

In [ ]:
17. Create a tuple with a single element?

In [19]:
# Creating a tuple with a single element
single_element_tuple = (5,)  # The comma is essential to indicate it's a tuple, not a parenthesis

# Print the tuple to verify the result
print(single_element_tuple)

(5,)

In [ ]:
18. Compare two tuples?

In [20]:
# Step 1: Define two tuples to compare
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 3, 4)

# Step 2: Use comparison operators to compare the tuples
if tuple1 == tuple2:
    result = "The tuples are equal."
else:
    result = "The tuples are not equal."

# Print the result
print(result)

The tuples are equal.

In [ ]:
19. Delete a tuple?

In [21]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' keyword
del my_tuple

# Step 3: Try to print the tuple (will raise an error as the tuple is deleted)
try:
    print(my_tuple)
except NameError:
    print("The tuple has been deleted.")

The tuple has been deleted.

In [ ]:
20. Slice a tuple?

In [22]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slicing the tuple to get a sub-tuple from index 2 to 6 (excluding 7)
sliced_tuple = my_tuple[2:7]

# Print the sliced tuple
print(sliced_tuple)

(3, 4, 5, 6, 7)

In [ ]:
21. Find the maximum value in a tuple?

In [23]:
# Step 1: Define the tuple with some numbers
numbers_tuple = (4, 12, 7, 19, 3, 10)

# Step 2: Use the built-in max() function to find the maximum value in the tuple
max_value = max(numbers_tuple)

# Step 3: Print the result
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 19

In [ ]:
22. Find the minimum value in a tuple?

In [27]:
# Step 1: Define the tuple with some numbers
numbers_tuple = (4, 12, 7, 19, 3, 10)

# Step 2: Use the built-in max() function to find the maximum value in the tuple
min_value = min(numbers_tuple)

# Step 3: Print the result
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 3

In [ ]:
23. Convert a string to a tuple of characters?

In [28]:
# Step 1: Define the string
input_string = "Hello"

# Step 2: Convert the string to a tuple of characters
char_tuple = tuple(input_string)

# Print the tuple to verify the result
print(char_tuple)

('H', 'e', 'l', 'l', 'o')

In [ ]:
24. Convert a tuple of characters to a string?

In [30]:
# Step 1: Define a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o')

# Step 2: Use the join() method to convert the tuple to a string
result_string = ''.join(char_tuple)

# Print the resulting string
print(result_string)

Hello

In [ ]:
25. Create a tuple from multiple data types?

In [31]:
# Step 1: Define a tuple with different data types
mixed_tuple = (1, "hello", 3.14, True, None)

# Step 2: Print the tuple to verify the result
print(mixed_tuple)

(1, 'hello', 3.14, True, None)

In [ ]:
26. Check if two tuples are identical?

In [33]:
# Step 1: Define two tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (1, 2, 3, 4, 5)

# Step 2: Compare the two tuples using equality operator (==)
are_identical = tuple1 == tuple2

# Step 3: Print the result
print("The tuples are identical:", are_identical)

The tuples are identical: True

In [ ]:
27. Sort the elements of a tuple?

In [34]:
# Step 1: Create a tuple with unsorted elements
unsorted_tuple = (5, 2, 8, 1, 9, 3)

# Step 2: Sort the tuple using the sorted() function
sorted_tuple = tuple(sorted(unsorted_tuple))

# Print the sorted tuple
print(sorted_tuple)

(1, 2, 3, 5, 8, 9)

In [ ]:
28. Convert a tuple of integers to a tuple of strings?

In [35]:
# Step 1: Define a tuple of integers
integer_tuple = (1, 2, 3, 4, 5)

# Step 2: Convert each integer to a string using a tuple comprehension
string_tuple = tuple(str(number) for number in integer_tuple)

# Step 3: Print the resulting tuple
print(string_tuple)

('1', '2', '3', '4', '5')

In [ ]:
29. Convert a tuple of strings to a tuple of integers?

In [38]:
# Step 1: Define a tuple of strings
string_tuple = ('1', '2', '3', '4', '5')

# Step 2: Convert each string in the tuple to an integer using map and tuple functions
integer_tuple = tuple(map(int, string_tuple))

# Print the resulting tuple to verify the conversion
print(integer_tuple)

(1, 2, 3, 4, 5)

In [ ]:
30. Merge two tuples?

In [39]:
# Step 1: Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the + operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple to verify the result
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
31. Flatten a nested tuple?

In [40]:
# Step 1: Define a function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flat_list = []  # Step 2: Initialize an empty list to hold the flattened elements
    for item in nested_tuple:  # Step 3: Iterate over each element in the tuple
        if isinstance(item, tuple):  # Step 4: Check if the item is a tuple
            flat_list.extend(flatten_tuple(item))  # Recursively flatten nested tuples
        else:
            flat_list.append(item)  # Step 5: Add the item to the flat list if it's not a tuple
    return flat_list  # Step 6: Return the flattened list

# Step 7: Example of a nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)

# Step 8: Flatten the nested tuple
flat_result = flatten_tuple(nested_tuple)

# Step 9: Convert the flat list back to a tuple
flattened_tuple = tuple(flat_result)

# Step 10: Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
32. Create a tuple of the first 5 prime numbers?

In [41]:
# Step 1: Define a function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Step 2: Use a loop to find the first 5 prime numbers
primes = []
number = 2  # Start from the first prime number

while len(primes) < 5:
    if is_prime(number):
        primes.append(number)
    number += 1

# Step 3: Convert the list of primes to a tuple
prime_tuple = tuple(primes)

# Print the tuple to verify the result
print(prime_tuple)

(2, 3, 5, 7, 11)

In [ ]:
33. Check if a tuple is a palindrome?

In [42]:
# Step 1: Define the tuple to check
sample_tuple = (1, 2, 3, 2, 1)

# Step 2: Check if the tuple is the same when reversed
is_palindrome = sample_tuple == sample_tuple[::-1]

# Print the result
print(f"Is the tuple a palindrome? {is_palindrome}")

Is the tuple a palindrome? True

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5?

In [43]:
# Step 1: Use a range to generate numbers from 1 to 5
# Step 2: Square each number in the range using a list comprehension
# Step 3: Convert the list of squares to a tuple
squares = tuple(number**2 for number in range(1, 6))

# Print the tuple to verify the result
print(squares)

(1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple?

In [44]:
# Step 1: Define the original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Use a list comprehension to filter out even numbers
filtered_tuple = tuple(number for number in original_tuple if number % 2 != 0)

# Print the filtered tuple to verify the result
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [ ]:
36. Multiply all elements in a tuple by 2?

In [45]:
# Step 1: Define the original tuple
original_tuple = (1, 2, 3, 4, 5)

# Step 2: Use a tuple comprehension to multiply each element by 2
modified_tuple = tuple(element * 2 for element in original_tuple)

# Print the modified tuple to verify the result
print(modified_tuple)

(2, 4, 6, 8, 10)

In [ ]:
37. Create a tuple of random numbers?

In [46]:
import random

# Step 1: Define the number of random numbers and the range of values
num_of_random_numbers = 5  # You can change this value based on your requirement
lower_bound = 1
upper_bound = 100

# Step 2: Generate random numbers using a list comprehension
random_numbers = tuple(random.randint(lower_bound, upper_bound) for _ in range(num_of_random_numbers))

# Print the tuple to verify the result
print(random_numbers)

(71, 54, 4, 60, 25)

In [ ]:
38. Check if a tuple is sorted?

In [47]:
# Step 1: Define a function to check if the tuple is sorted
def is_sorted(tup):
    # Step 2: Compare the tuple with its sorted version
    return tup == tuple(sorted(tup))

# Example tuples for testing
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

# Step 3: Check if each tuple is sorted
print(f"Is tuple1 sorted? {is_sorted(tuple1)}")  # Expected output: True
print(f"Is tuple2 sorted? {is_sorted(tuple2)}")  # Expected output: False

Is tuple1 sorted? True
Is tuple2 sorted? False

In [ ]:
39. Rotate a tuple to the left by `n` positions?

In [48]:
# Function to rotate a tuple to the left by n positions
def rotate_tuple_left(tup, n):
    # Ensure n is within the bounds of the tuple length
    n = n % len(tup)
    # Rotate the tuple by slicing and concatenating the parts
    return tup[n:] + tup[:n]

# Example tuple and number of positions to rotate
my_tuple = (1, 2, 3, 4, 5)
n = 2

# Rotate the tuple and print the result
rotated_tuple = rotate_tuple_left(my_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [ ]:
40. Rotate a tuple to the right by `n` positions?

In [49]:
# Function to rotate a tuple to the right by n positions
def rotate_tuple(t, n):
    # Ensure n is within the bounds of the tuple length
    n = n % len(t)  # Handle cases where n is greater than the tuple length
    return t[-n:] + t[:-n]

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotating the tuple
rotated_tuple = rotate_tuple(original_tuple, n)

# Print the rotated tuple
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers?

In [1]:
def generate_fibonacci_tuple(n):
    """
    Generate a tuple of the first `n` Fibonacci numbers.

    Args:
        n (int): The number of Fibonacci numbers to generate.

    Returns:
        tuple: A tuple containing the first `n` Fibonacci numbers.
    """
    fibonacci = [0, 1]  # Initialize the first two Fibonacci numbers

    # Generate the Fibonacci sequence up to `n` numbers
    for i in range(2, n):
        fibonacci.append(fibonacci[i - 1] + fibonacci[i - 2])

    # Convert the list to a tuple
    return tuple(fibonacci[:n])

# Generate the first 5 Fibonacci numbers as a tuple
fibonacci_tuple = generate_fibonacci_tuple(5)
print("Tuple of first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input?

In [2]:
def create_tuple_from_input():
    """
    Prompts the user to enter values and creates a tuple from the inputs.

    Returns:
        tuple: A tuple containing the entered values.
    """
    # Prompt the user for input
    user_input = input("Enter elements separated by commas: ")

    # Split the input string into a list using ',' as the delimiter
    elements = user_input.split(',')

    # Convert the list into a tuple
    result_tuple = tuple(elements)

    return result_tuple

# Example usage
print("Create a tuple from user input:")
user_tuple = create_tuple_from_input()
print("Your tuple:", user_tuple)

Create a tuple from user input:
Enter elements separated by commas: vivekanandan,sowmi
Your tuple: ('vivekanandan', 'sowmi')

In [ ]:
43. Swap two elements in a tuple?

In [3]:
def swap_elements_in_tuple(input_tuple, index1, index2):
    """
    Swaps two elements in a tuple by their indices.

    Args:
        input_tuple (tuple): The tuple containing elements to swap.
        index1 (int): The index of the first element.
        index2 (int): The index of the second element.

    Returns:
        tuple: A new tuple with the elements swapped.
    """
    # Convert the tuple to a list for swapping
    temp_list = list(input_tuple)
    
    # Swap elements at the specified indices
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    
    # Convert the list back to a tuple and return
    return tuple(temp_list)

# Example usage
my_tuple = (10, 20, 30, 40, 50)
index1 = 1
index2 = 3

swapped_tuple = swap_elements_in_tuple(my_tuple, index1, index2)
print("Tuple after swapping:", swapped_tuple)

Tuple after swapping: (10, 40, 30, 20, 50)

In [ ]:
44. Reverse the elements of a tuple?

In [4]:
def reverse_tuple(input_tuple):
    """
    Reverses the elements of a tuple.

    Args:
        input_tuple (tuple): The tuple to be reversed.

    Returns:
        tuple: The reversed tuple.
    """
    # Reverse the tuple using slicing
    return input_tuple[::-1]

# Example usage
my_tuple = (10, 20, 30, 40, 50)
reversed_tuple = reverse_tuple(my_tuple)
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (10, 20, 30, 40, 50)
Reversed Tuple: (50, 40, 30, 20, 10)

In [ ]:
45. Create a tuple of the first `n` powers of 2?

In [5]:
def generate_powers_of_two(n):
    """
    Generate a tuple of the first n powers of 2.

    Args:
        n (int): Number of powers of 2 to generate.

    Returns:
        tuple: A tuple containing the first n powers of 2.
    """
    return tuple(2 ** i for i in range(n))

# Example usage
n = 10
result = generate_powers_of_two(n)
print("Tuple of first", n, "powers of 2:", result)

Tuple of first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [ ]:
46. Find the longest string in a tuple of strings?

In [6]:
def find_longest_string(strings):
    """
    Finds the longest string in a tuple of strings.

    Args:
        strings (tuple): A tuple containing strings.

    Returns:
        str: The longest string in the tuple.
    """
    if not strings:  # Check if the tuple is empty
        return None

    # Use max() with the key as the length of the string
    longest_string = max(strings, key=len)
    return longest_string

# Example usage
string_tuple = ("apple", "banana", "cherry", "pineapple", "kiwi")
longest = find_longest_string(string_tuple)
print("Longest string:", longest)

Longest string: pineapple

In [ ]:
47. Find the shortest string in a tuple of strings?

In [7]:
def find_shortest_string(strings):
    """
    Finds the shortest string in a tuple of strings.

    Args:
        strings (tuple): A tuple containing strings.

    Returns:
        str: The shortest string in the tuple.
    """
    # Use the min() function with the key argument for string length
    shortest = min(strings, key=len)
    return shortest

# Example usage
string_tuple = ("apple", "banana", "kiwi", "pear")
shortest_string = find_shortest_string(string_tuple)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [ ]:
48. Create a tuple of the first `n` triangular numbers?

In [8]:
def triangular_numbers(n):
    """
    Generate a tuple of the first `n` triangular numbers.

    Args:
        n (int): Number of triangular numbers to generate.

    Returns:
        tuple: A tuple containing the first `n` triangular numbers.
    """
    # Generate triangular numbers using the formula T(n) = n * (n + 1) // 2
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

# Example usage
n = 10  # Number of triangular numbers to generate
triangular_tuple = triangular_numbers(n)
print("First", n, "triangular numbers:", triangular_tuple)

First 10 triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence?

In [9]:
def contains_subtuple(main_tuple, sub_tuple):
    """
    Checks if a tuple contains another tuple as a subsequence.

    Args:
        main_tuple (tuple): The tuple to check within.
        sub_tuple (tuple): The tuple to check for as a subsequence.

    Returns:
        bool: True if sub_tuple is a subsequence of main_tuple, False otherwise.
    """
    # Convert the main tuple to a string
    main_str = str(main_tuple)
    sub_str = str(sub_tuple)
    
    # Check if the string representation of the sub_tuple is in the main_tuple string
    return sub_str in main_str

# Example usage
main_tuple = (10, 20, 30, 40, 50)
sub_tuple = (20, 30)

result = contains_subtuple(main_tuple, sub_tuple)
print(f"Does the tuple {main_tuple} contain {sub_tuple} as a subsequence? {result}")

Does the tuple (10, 20, 30, 40, 50) contain (20, 30) as a subsequence? False

In [ ]:
50. Create a tuple of alternating 1s and 0s of length `n`?

In [10]:
def create_alternating_tuple(n):
    """
    Creates a tuple of alternating 1s and 0s of specified length.

    Args:
        n (int): The desired length of the tuple.

    Returns:
        tuple: A tuple with alternating 1s and 0s.
    """
    # Use a list comprehension to alternate 1s and 0s, then convert to a tuple
    alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
    return alternating_tuple

# Example usage
n = 10
result = create_alternating_tuple(n)
print("Alternating tuple of length", n, ":", result)

Alternating tuple of length 10 : (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

In [ ]:
1. Create a set with integers from 1 to 5?

In [11]:
# Create a set with integers from 1 to 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

In [ ]:
2. Add an element to a set?

In [12]:
# Define a set
my_set = {1, 2, 3, 4}

# Add an element to the set
my_set.add(5)

# Print the updated set
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5}

In [ ]:
3. Remove an element from a set?

In [13]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using 'remove()' method
my_set.remove(3)  # This will remove element 3 from the set
print("After remove:", my_set)

# Create a new set
my_set = {1, 2, 3, 4, 5}

# Remove an element using 'discard()' method
my_set.discard(2)  # This will remove element 2 from the set
print("After discard:", my_set)

After remove: {1, 2, 4, 5}
After discard: {1, 3, 4, 5}

In [ ]:
4. Check if an element exists in a set?

In [14]:
def check_element_in_set(my_set, element):
    """
    Checks if an element exists in a set.

    Args:
        my_set (set): The set to check for the element.
        element: The element to check for in the set.

    Returns:
        bool: True if element is in the set, otherwise False.
    """
    return element in my_set

# Example usage
my_set = {1, 2, 3, 4, 5}
element = 3

result = check_element_in_set(my_set, element)
print(f"Element {element} exists in the set: {result}")

Element 3 exists in the set: True

In [ ]:
5. Find the length of a set without using the `len()` function?

In [15]:
def find_set_length(input_set):
    # Initialize a counter variable
    count = 0

    # Iterate over the set to count the elements
    for _ in input_set:
        count += 1

    return count

# Example usage
my_set = {10, 20, 30, 40, 50}
set_length = find_set_length(my_set)
print("Length of the set:", set_length)

Length of the set: 5

In [ ]:
6. Clear all elements from a set?

In [16]:
def clear_set(input_set):
    """
    Clears all elements from the provided set.
    
    Args:
        input_set (set): The set to be cleared.
    
    Returns:
        set: The cleared set (empty set).
    """
    input_set.clear()  # Clears all elements from the set
    return input_set

# Example usage
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

# Clear all elements from the set
cleared_set = clear_set(my_set)
print("Cleared set:", cleared_set)

Original set: {1, 2, 3, 4, 5}
Cleared set: set()

In [ ]:
7. Create a set of even numbers from 1 to 10?

In [17]:
# Create a set of even numbers from 1 to 10
even_numbers = {x for x in range(1, 11) if x % 2 == 0}

# Display the set
print("Set of even numbers from 1 to 10:", even_numbers)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10?

In [18]:
# Create a set of odd numbers from 1 to 10
odd_numbers = {num for num in range(1, 11) if num % 2 != 0}

# Print the result
print(odd_numbers)

{1, 3, 5, 7, 9}

In [ ]:
9. Find the union of two sets?

In [19]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Using the union() method
union_set = set1.union(set2)

# Or using the | (pipe) operator
union_set_alternative = set1 | set2

# Print the results
print("Union using union() method:", union_set)
print("Union using | operator:", union_set_alternative)

Union using union() method: {1, 2, 3, 4, 5, 6}
Union using | operator: {1, 2, 3, 4, 5, 6}

In [ ]:
10. Find the intersection of two sets?

In [20]:
def find_intersection(set1, set2):
    """
    Finds the intersection of two sets and returns the common elements.

    Args:
        set1 (set): The first set.
        set2 (set): The second set.

    Returns:
        set: The intersection of the two sets.
    """
    return set1 & set2  # Using the intersection operator

# Example usage
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

intersection = find_intersection(set_a, set_b)
print("Intersection of the sets:", intersection)

Intersection of the sets: {4, 5}

In [ ]:
11. Find the difference between two sets?

In [21]:
def find_set_difference(set1, set2):
    """
    Finds the difference between two sets.

    Args:
        set1 (set): The first set.
        set2 (set): The second set.

    Returns:
        set: A new set containing elements in set1 but not in set2.
    """
    # Using the difference method
    difference = set1.difference(set2)
    return difference

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

result = find_set_difference(set1, set2)
print("Difference (set1 - set2):", result)

# Alternative using the - operator
result_alt = set1 - set2
print("Difference (set1 - set2) using '-':", result_alt)

Difference (set1 - set2): {1, 2}
Difference (set1 - set2) using '-': {1, 2}

In [ ]:
12. Check if a set is a subset of another set?

In [22]:
def check_subset(set1, set2):
    """
    Check if set1 is a subset of set2.

    Args:
        set1 (set): The first set to check.
        set2 (set): The second set to check against.

    Returns:
        bool: True if set1 is a subset of set2, False otherwise.
    """
    return set1.issubset(set2)

# Example usage
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}

result = check_subset(set_a, set_b)
print(f"Is set_a a subset of set_b? {result}")

Is set_a a subset of set_b? True

In [ ]:
13. Check if a set is a superset of another set?

In [23]:
def check_superset(set1, set2):
    """
    Check if set1 is a superset of set2.

    Args:
        set1 (set): The first set to check.
        set2 (set): The second set to check.

    Returns:
        bool: True if set1 is a superset of set2, False otherwise.
    """
    return set1.issuperset(set2)  # or use: return set1 >= set2

# Example usage:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

result = check_superset(set1, set2)
print(f"Is set1 a superset of set2? {result}")

Is set1 a superset of set2? True

In [ ]:
14. Create a set from a list?

In [24]:
def list_to_set(input_list):
    """
    Converts a list to a set, removing duplicate values.
    
    Args:
        input_list (list): The list to be converted to a set.
    
    Returns:
        set: A set containing unique elements from the list.
    """
    return set(input_list)

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = list_to_set(my_list)
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [ ]:
15. Convert a set to a list?

In [25]:
def convert_set_to_list(input_set):
    """
    Converts a set to a list.

    Args:
        input_set (set): The set to be converted to a list.

    Returns:
        list: The list representation of the input set.
    """
    # Convert the set to a list
    result_list = list(input_set)
    return result_list

# Example usage
my_set = {1, 2, 3, 4, 5}
result = convert_set_to_list(my_set)
print("List after conversion:", result)

List after conversion: [1, 2, 3, 4, 5]

In [ ]:
15. Convert a set to a list?

In [26]:
def set_to_list(input_set):
    """
    Converts a set to a list.

    Args:
        input_set (set): The set to be converted.

    Returns:
        list: The converted list containing elements of the set.
    """
    return list(input_set)

# Example usage
my_set = {10, 20, 30, 40, 50}
result = set_to_list(my_set)
print("Converted List:", result)

Converted List: [50, 20, 40, 10, 30]

In [ ]:
16. Remove a random element from a set?

In [27]:
import random

def remove_random_element(my_set):
    """
    Removes a random element from the set and returns the updated set.
    
    Args:
        my_set (set): The set from which a random element will be removed.
        
    Returns:
        set: The updated set after removing a random element.
    """
    # Check if the set is empty
    if my_set:
        removed_element = my_set.pop()
        print(f"Removed element: {removed_element}")
    else:
        print("The set is empty, no element to remove.")
    return my_set

# Example usage
my_set = {1, 2, 3, 4, 5}
updated_set = remove_random_element(my_set)
print("Updated set:", updated_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [ ]:
17. Pop an element from a set?

In [28]:
# Initialize a set
my_set = {10, 20, 30, 40, 50}

# Pop a random element from the set
popped_element = my_set.pop()

# Print the element that was popped and the updated set
print("Popped Element:", popped_element)
print("Updated Set:", my_set)

Popped Element: 50
Updated Set: {20, 40, 10, 30}

In [ ]:
18. Check if two sets have no elements in common?

In [29]:
def are_sets_disjoint(set1, set2):
    """
    Checks if two sets have no elements in common.

    Args:
        set1 (set): The first set.
        set2 (set): The second set.

    Returns:
        bool: True if the sets have no elements in common, False otherwise.
    """
    return set1.isdisjoint(set2)

# Example usage
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

result = are_sets_disjoint(set1, set2)
print("Do the sets have no elements in common?", result)

# Example with common element
set3 = {3, 4, 5}
set4 = {4, 5, 6}
result2 = are_sets_disjoint(set3, set4)
print("Do the sets have no elements in common?", result2)

Do the sets have no elements in common? True
Do the sets have no elements in common? False

In [ ]:
19. Find the symmetric difference between two sets?

In [30]:
def symmetric_difference(set1, set2):
    """
    Returns the symmetric difference between two sets.
    
    Args:
        set1 (set): The first set.
        set2 (set): The second set.
    
    Returns:
        set: The symmetric difference between set1 and set2.
    """
    return set1 ^ set2  # Using the ^ operator to find the symmetric difference

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

result = symmetric_difference(set1, set2)
print("Symmetric Difference:", result)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
20. Update a set with elements from another set?

In [31]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Update set1 with elements from set2
set1.update(set2)

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5, 6}

In [ ]:
21. Create a set of the first 5 prime numbers?

In [32]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
def first_n_primes(n):
    primes = set()  # Using a set to store unique primes
    num = 2  # Start checking from 2 (the first prime number)
    while len(primes) < n:
        if is_prime(num):
            primes.add(num)
        num += 1
    return primes

# Get the first 5 prime numbers
prime_set = first_n_primes(5)

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical?

In [33]:
def are_sets_identical(set1, set2):
    """
    Checks if two sets are identical.

    Args:
        set1 (set): The first set.
        set2 (set): The second set.

    Returns:
        bool: True if sets are identical, False otherwise.
    """
    return set1 == set2

# Example usage
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 3}

# Check if set1 and set2 are identical
print(are_sets_identical(set1, set2))  # Output: True

# Check if set1 and set3 are identical
print(are_sets_identical(set1, set3))  # Output: False

True
False

In [ ]:
23. Create a frozen set?

In [34]:
# Create a frozen set
frozen_set = frozenset([1, 2, 3, 4, 5])

# Output the frozen set
print("Frozen Set:", frozen_set)

# Attempting to modify the frozen set will raise an error:
# frozen_set.add(6)  # Uncommenting this line will raise an AttributeError

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
24. Check if a set is disjoint with another set?

In [35]:
def are_sets_disjoint(set1, set2):
    """
    Checks if two sets are disjoint (i.e., have no common elements).

    Args:
        set1 (set): First set.
        set2 (set): Second set.

    Returns:
        bool: True if sets are disjoint, False otherwise.
    """
    return set1.isdisjoint(set2)

# Example usage
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
set3 = {3, 4, 5, 6}

# Check if set1 and set2 are disjoint
print("Are set1 and set2 disjoint?", are_sets_disjoint(set1, set2))  # Expected: True

# Check if set1 and set3 are disjoint
print("Are set1 and set3 disjoint?", are_sets_disjoint(set1, set3))  # Expected: False

Are set1 and set2 disjoint? True
Are set1 and set3 disjoint? False

In [ ]:
25. Create a set of squares of numbers from 1 to 5?

In [36]:
# Create a set of squares of numbers from 1 to 5
squares = {x**2 for x in range(1, 6)}

# Print the set of squares
print(squares)

{1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set?

In [37]:
def filter_even_numbers(input_set):
    """
    Filters out all even numbers from a set.

    Args:
        input_set (set): A set containing integers.

    Returns:
        set: A new set containing only the odd numbers.
    """
    # Using set comprehension to filter out even numbers
    return {num for num in input_set if num % 2 != 0}

# Example usage
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
result = filter_even_numbers(my_set)
print("Filtered set (only odd numbers):", result)

Filtered set (only odd numbers): {1, 3, 5, 7, 9}

In [ ]:
27. Multiply all elements in a set by 2?

In [38]:
def multiply_elements_by_2(input_set):
    """
    Multiplies all elements in a set by 2.

    Args:
        input_set (set): A set containing numerical elements.

    Returns:
        set: A new set with all elements multiplied by 2.
    """
    # Using set comprehension to multiply each element by 2
    return {x * 2 for x in input_set}

# Example usage
my_set = {1, 2, 3, 4, 5}
result_set = multiply_elements_by_2(my_set)
print("Set after multiplication:", result_set)

Set after multiplication: {2, 4, 6, 8, 10}

In [ ]:
28. Create a set of random numbers?

In [39]:
import random

def generate_random_set(num_elements, min_value, max_value):
    """
    Generates a set of random numbers.
    
    Args:
        num_elements (int): The number of random elements to generate.
        min_value (int): The minimum value for the random number range.
        max_value (int): The maximum value for the random number range.
        
    Returns:
        set: A set of unique random numbers.
    """
    random_set = set()

    # Generate random numbers and add them to the set
    while len(random_set) < num_elements:
        random_set.add(random.randint(min_value, max_value))
    
    return random_set

# Example usage
num_elements = 10  # Number of random elements
min_value = 1      # Minimum value for random numbers
max_value = 100    # Maximum value for random numbers

random_numbers = generate_random_set(num_elements, min_value, max_value)
print("Random set of numbers:", random_numbers)

Random set of numbers: {37, 71, 39, 10, 43, 18, 50, 59, 93, 63}

In [ ]:
29. Check if a set is empty?

In [40]:
def is_set_empty(my_set):
    """
    Checks if the provided set is empty.

    Args:
        my_set (set): The set to check.

    Returns:
        bool: True if the set is empty, False otherwise.
    """
    return len(my_set) == 0

# Example usage
my_set = set()  # An empty set
print("Is the set empty?", is_set_empty(my_set))

my_set2 = {1, 2, 3}  # A non-empty set
print("Is the set empty?", is_set_empty(my_set2))

Is the set empty? True
Is the set empty? False

In [ ]:
30. Create a nested set (hint: use frozenset)?

In [41]:
# Creating a nested set using frozenset
nested_set = {frozenset([1, 2, 3]), frozenset([4, 5]), frozenset([6, 7, 8])}

# Displaying the nested set
print("Nested Set:", nested_set)

# Adding a new frozenset to the nested set
nested_set.add(frozenset([9, 10]))
print("Updated Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({8, 6, 7}), frozenset({4, 5})}
Updated Nested Set: {frozenset({1, 2, 3}), frozenset({8, 6, 7}), frozenset({9, 10}), frozenset({4, 5})}

In [ ]:
31. Remove an element from a set using the discard method?

In [42]:
# Creating a set
my_set = {10, 20, 30, 40, 50}

# Print the set before removing an element
print("Original Set:", my_set)

# Remove element 30 from the set using discard() method
my_set.discard(30)

# Print the set after removing the element
print("Set after discarding 30:", my_set)

# Try to discard an element that is not in the set
my_set.discard(60)  # No error will be raised, unlike remove()

# Print the set after attempting to discard an element not in the set
print("Set after discarding 60 (non-existing element):", my_set)

Original Set: {50, 20, 40, 10, 30}
Set after discarding 30: {50, 20, 40, 10}
Set after discarding 60 (non-existing element): {50, 20, 40, 10}

In [ ]:
32. Compare two sets?

In [43]:
def compare_sets(set1, set2):
    """
    Compare two sets and return the result of various comparison operations.
    
    Args:
        set1 (set): The first set to compare.
        set2 (set): The second set to compare.
        
    Returns:
        dict: Dictionary containing comparison results for equality, 
              subset, and set differences.
    """
    comparison_results = {
        "equal": set1 == set2,  # Check if both sets are equal
        "subset": set1.issubset(set2),  # Check if set1 is a subset of set2
        "superset": set1.issuperset(set2),  # Check if set1 is a superset of set2
        "difference": set1 - set2,  # Items in set1 but not in set2
        "symmetric_difference": set1 ^ set2  # Items in either set1 or set2, but not both
    }
    return comparison_results

# Example usage
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

result = compare_sets(set_a, set_b)
print("Comparison Results:", result)

Comparison Results: {'equal': False, 'subset': False, 'superset': False, 'difference': {1, 2}, 'symmetric_difference': {1, 2, 5, 6}}

In [ ]:
33. Create a set from a string?

In [44]:
def string_to_set(input_string):
    """
    Converts a string into a set of unique characters.

    Args:
        input_string (str): The string from which to create a set.

    Returns:
        set: A set containing the unique characters from the string.
    """
    # Convert the string to a set to remove duplicate characters
    return set(input_string)

# Example usage
input_string = "hello"
result = string_to_set(input_string)
print("Set from string:", result)

Set from string: {'h', 'e', 'o', 'l'}

In [ ]:
34. Convert a set of strings to a set of integers?

In [45]:
def convert_set_to_integers(string_set):
    """
    Converts a set of strings to a set of integers.
    
    Args:
        string_set (set): A set containing string elements that represent integers.
    
    Returns:
        set: A set of integers converted from the string set.
    """
    # Convert each string element to integer using map and set to preserve uniqueness
    integer_set = set(map(int, string_set))
    return integer_set

# Example usage
string_set = {"1", "2", "3", "4", "5"}
result = convert_set_to_integers(string_set)
print("Set of integers:", result)

Set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings?

In [46]:
def convert_to_strings(int_set):
    """
    Converts a set of integers to a set of strings.
    
    Args:
        int_set (set): A set containing integers.
    
    Returns:
        set: A set of strings corresponding to the integers in the input set.
    """
    # Using map to convert each integer to a string
    string_set = set(map(str, int_set))
    return string_set

# Example usage
int_set = {1, 2, 3, 4, 5}
string_set = convert_to_strings(int_set)
print("Set of strings:", string_set)

Set of strings: {'1', '3', '2', '5', '4'}

In [49]:
36. Create a set from a tuple?

In [50]:
def tuple_to_set(input_tuple):
    """
    Converts a tuple to a set, removing any duplicates.

    Args:
        input_tuple (tuple): The tuple to be converted.

    Returns:
        set: The set created from the tuple.
    """
    return set(input_tuple)

# Example usage
my_tuple = (1, 2, 3, 4, 4, 5)
result = tuple_to_set(my_tuple)
print("Set from tuple:", result)

Set from tuple: {1, 2, 3, 4, 5}

In [ ]:
37. Convert a set to a tuple?

In [51]:
def set_to_tuple(s):
    """
    Converts a set to a tuple.

    Args:
        s (set): The input set to be converted.

    Returns:
        tuple: The corresponding tuple representation of the set.
    """
    # Convert the set to a tuple
    return tuple(s)

# Example usage
my_set = {1, 2, 3, 4, 5}
result = set_to_tuple(my_set)

print("Set converted to tuple:", result)

Set converted to tuple: (1, 2, 3, 4, 5)

In [ ]:
38. Find the maximum value in a set?

In [52]:
def find_max_value(my_set):
    """
    Finds the maximum value in a given set.

    Args:
        my_set (set): The set from which to find the maximum value.

    Returns:
        max_value: The maximum value in the set.
    """
    if my_set:
        max_value = max(my_set)
        return max_value
    else:
        return "Set is empty"

# Example usage
my_set = {10, 20, 30, 40, 50}
result = find_max_value(my_set)
print("The maximum value in the set is:", result)

The maximum value in the set is: 50

In [ ]:
39. Find the minimum value in a set?

In [53]:
def find_minimum_value(input_set):
    """
    Finds the minimum value in a given set.

    Args:
        input_set (set): The set of elements.

    Returns:
        The minimum value in the set.
    """
    # Use the min() function to find the minimum value
    return min(input_set)

# Example usage
my_set = {5, 2, 9, 1, 7}
minimum_value = find_minimum_value(my_set)
print("The minimum value in the set is:", minimum_value)

The minimum value in the set is: 1

In [ ]:
40. Create a set from user input?

In [54]:
def create_set_from_input():
    """
    Creates a set from user input, allowing the user to enter values separated by space.

    Returns:
        set: A set containing the unique elements entered by the user.
    """
    # Prompt the user for input
    user_input = input("Enter elements separated by spaces: ")

    # Split the input string by spaces and convert it to a set
    user_set = set(user_input.split())

    return user_set

# Example usage
result_set = create_set_from_input()
print("Created Set:", result_set)

Enter elements separated by spaces: vivekanandan sowmi
Created Set: {'sowmi', 'vivekanandan'}

In [ ]:
41. Check if the intersection of two sets is empty?

In [55]:
def is_intersection_empty(set1, set2):
    """
    Checks if the intersection of two sets is empty.

    Args:
        set1 (set): The first set.
        set2 (set): The second set.

    Returns:
        bool: True if the intersection is empty, otherwise False.
    """
    # Using the & operator to find the intersection
    return not bool(set1 & set2)

# Example usage
set1 = {1, 2, 3}
set2 = {4, 5, 6}

result = is_intersection_empty(set1, set2)
print("Is the intersection empty?", result)

Is the intersection empty? True

In [ ]:
42. Create a set of the first 5 Fibonacci numbers?

In [56]:
def fibonacci_set(n):
    """
    Generate a set of the first n Fibonacci numbers.

    Args:
        n (int): The number of Fibonacci numbers to generate.

    Returns:
        set: A set containing the first n Fibonacci numbers.
    """
    fib_sequence = [0, 1]  # Starting values for the Fibonacci sequence
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])  # Append next Fibonacci number
    return set(fib_sequence[:n])  # Return the first n Fibonacci numbers as a set

# Example usage
fib_set = fibonacci_set(5)
print(f"Set of the first 5 Fibonacci numbers: {fib_set}")

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [ ]:
43. Remove duplicates from a list using sets?

In [57]:
def remove_duplicates(input_list):
    """
    Removes duplicates from a list using sets.
    
    Args:
        input_list (list): The list from which duplicates will be removed.

    Returns:
        list: A new list with duplicates removed.
    """
    # Convert the list to a set to remove duplicates, then convert it back to a list
    return list(set(input_list))

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(my_list)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
44. Check if two sets have the same elements, regardless of their count?

In [58]:
def are_sets_equal(set1, set2):
    """
    Compares two sets to check if they contain the same elements.

    Args:
        set1 (set): The first set to compare.
        set2 (set): The second set to compare.

    Returns:
        bool: True if both sets have the same elements, False otherwise.
    """
    return set1 == set2

# Example usage
set_a = {1, 2, 3, 4, 5}
set_b = {5, 4, 3, 2, 1}
set_c = {1, 2, 3, 6, 7}

# Test the function
print("Are set_a and set_b equal?", are_sets_equal(set_a, set_b))  # True
print("Are set_a and set_c equal?", are_sets_equal(set_a, set_c))  # False

Are set_a and set_b equal? True
Are set_a and set_c equal? False

In [ ]:
45. Create a set of the first `n` powers of 2?

In [59]:
def powers_of_two(n):
    """
    Generates a set of the first n powers of 2.

    Args:
        n (int): The number of powers of 2 to generate.

    Returns:
        set: A set containing the first n powers of 2.
    """
    return {2 ** i for i in range(n)}

# Example usage
n = 5
result = powers_of_two(n)
print("Set of the first", n, "powers of 2:", result)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [ ]:
46. Find the common elements between a set and a list?

In [60]:
def find_common_elements(set_data, list_data):
    """
    Finds common elements between a set and a list.

    Args:
        set_data (set): The set containing unique elements.
        list_data (list): The list with multiple elements.

    Returns:
        list: A list of common elements between the set and the list.
    """
    # Convert list to set and find the intersection
    common_elements = set_data.intersection(list_data)
    return list(common_elements)

# Example usage
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

result = find_common_elements(my_set, my_list)
print("Common elements:", result)

Common elements: [3, 4, 5]

In [ ]:
47. Create a set of the first `n` triangular numbers?

In [61]:
def generate_triangular_numbers(n):
    """
    Generates a set of the first n triangular numbers.

    A triangular number is the sum of the first n natural numbers.
    The formula for the nth triangular number is: T(n) = n * (n + 1) / 2

    Args:
        n (int): The number of triangular numbers to generate.

    Returns:
        set: A set containing the first n triangular numbers.
    """
    triangular_numbers = set()  # Using a set to store the numbers uniquely
    for i in range(1, n + 1):
        # Calculate the ith triangular number using the formula T(n) = n * (n + 1) / 2
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.add(triangular_number)
    
    return triangular_numbers

# Example usage
n = 10
result = generate_triangular_numbers(n)
print("Set of the first", n, "triangular numbers:", result)

Set of the first 10 triangular numbers: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [ ]:
48. Check if a set contains another set as a subset?

In [62]:
def check_subset(set1, set2):
    """
    Checks if set2 is a subset of set1.

    Args:
        set1 (set): The main set.
        set2 (set): The set to check as a subset.

    Returns:
        bool: True if set2 is a subset of set1, False otherwise.
    """
    # Using the issubset() method
    return set2.issubset(set1)

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

result = check_subset(set1, set2)
print("Is set2 a subset of set1?", result)

Is set2 a subset of set1? True

In [ ]:
49. Create a set of alternating 1s and 0s of length `n`?

In [63]:
def alternating_ones_zeros(n):
    """
    Creates a list of alternating 1s and 0s of length n.

    Args:
        n (int): The length of the desired list.

    Returns:
        list: A list containing alternating 1s and 0s of length n.
    """
    return [1 if i % 2 == 0 else 0 for i in range(n)]

# Example usage
n = 10
result = alternating_ones_zeros(n)
print("Alternating 1s and 0s:", result)

Alternating 1s and 0s: [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [ ]:
50. Merge multiple sets into one?

In [64]:
def merge_sets(*sets):
    """
    Merges multiple sets into one set.

    Args:
        *sets (set): Multiple sets to be merged.

    Returns:
        set: A merged set containing all unique elements.
    """
    merged_set = set()  # Initialize an empty set
    for s in sets:
        merged_set.update(s)  # Update the merged set with elements from each set
    return merged_set

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_result = merge_sets(set1, set2, set3)
print("Merged Set:", merged_result)

Merged Set: {1, 2, 3, 4, 5, 6, 7}